.geo-tree-item {
  cursor: pointer;
}

.geo-tree-item label {
  cursor: pointer;
}

.geo-tree-item__list {
  list-style: none;
}

.geo-tree-item .geo-list-item__icon-and-label__icon-container {
  text-align: center;
  width: 14px;
}

.geo-tree-item .geo-list-item__icon-and-label__icon-container__icon {
  color: $color-grey-backdrop;
  width: 5px;
}

.geo-tree-item__total-items {
  @include font($body-small);
  color: $color-grey-light;
  font-style: italic;
}

.geo-tree-item .geo-list-item__icon-and-label__icon-container__icon {
  transition: transform 0.25s;
}

.geo-tree-item--expanded .geo-list-item__icon-and-label__icon-container__icon {
  transform: rotate(90deg);
}

.geo-tree-item--single {
  margin-left: $space-small;
}
