
.geo-kpi {
  border-radius: $border-radius-default;
}

.geo-kpi__column {
  float: left;
}

.geo-kpi--is-primary {
  .geo-kpi__value, .geo-kpi__unit {
    @include font($display-medium);
    color: $color-grey-darker;
    display: inline-block;
  }
  .geo-kpi__description {
    @include font($body-small);
    color: $color-grey-darker;
    margin-top: 3px;
  }
  &.geo-kpi--bad {
    .geo-kpi__value, .geo-kpi__unit {
      color: $color-red;
    }
  }
  &.geo-kpi--medium {
    .geo-kpi__value, .geo-kpi__unit {
      color: $color-yellow;
    }
  }
  &.geo-kpi--good {
    .geo-kpi__value, .geo-kpi__unit {
      color: $color-green;
    }
  }
}

.geo-kpi--is-secondary {
  padding: 1px;
  .geo-kpi__row {
    display: inline-block;
  }
  .geo-kpi__value, .geo-kpi__unit, .geo-kpi__description {
    @include font($body-small);
    display: inline-block;
  }
  &.geo-kpi--bad {
    background-color: $color-red;
  }
  &.geo-kpi--medium {
    background-color: $color-yellow;
  }
  &.geo-kpi--good {
    background-color: $color-green;
  }
}