@mixin _geo-alert__content--variant (
  $text-color,
  $tint-color,
  $modifier-name-with-prefix
) {
  background: $tint-color;
  color: $text-color;

  .geo-alert__content__icon#{$modifier-name-with-prefix},
  .geo-alert__content__close-icon#{$modifier-name-with-prefix}:hover {
    color: brighten($tint-color, -40);
  }

  a {
    color: brighten($tint-color, -40);

    &:hover {
      background: brighten($tint-color, -10);
    }
  }
}

@mixin geo-alert__content--info($modifier-name-with-prefix) {
  @include _geo-alert__content--variant(
    $color_white,
    $color_blue_light,
    $modifier-name-with-prefix
  );
}

@mixin geo-alert__content--success($modifier-name-with-prefix) {
  @include _geo-alert__content--variant(
    $color_white,
    $color_green,
    $modifier-name-with-prefix
  );
}



@mixin geo-alert__content--error($modifier-name-with-prefix) {
  @include _geo-alert__content--variant(
    $color_white,
    $color_red,
    $modifier-name-with-prefix
  );
}

@mixin geo-alert__content--warn($modifier-name-with-prefix) {
  @include _geo-alert__content--variant(
    $color_white,
    $color_yellow,
    $modifier-name-with-prefix
  );
}

@mixin geo-alert__content--warning($modifier-name-with-prefix) {
  @include _geo-alert__content--variant(
    $color_white,
    $color_yellow,
    $modifier-name-with-prefix
  );
}

@mixin geo-alert__content--progress($modifier-name-with-prefix) {
  background: $color_blue_dark;
  color: $color_white;

  .geo-alert__content__icon#{$modifier-name-with-prefix},
  .geo-alert__content__close-icon#{$modifier-name-with-prefix}:hover {
    color: $color_link;
  }

  a {
    color: $color_blue_light;

    &:hover {
      background: brighten($color_blue_dark, -10);
    }
  }
}

@mixin geo-alert {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  font-family: $font_family_text;
  font-size: $font_size_regular;
  justify-content: center;
  margin-bottom: 20px;
  min-height: 2.5em;
}

@mixin geo-alert--floating {
  bottom: 20px;
  left: 50%;
  position: fixed;
  transform: translateX(-50%);
  z-index: $z_index_sticky;
}

@mixin geo-alert__content {
  align-items: center;
  border-radius: 3px;
  box-shadow: $box_shadow_regular;
  display: inline-flex;
  flex-direction: row;
  max-width: 50vw;
  padding: 7px 0 8px 10px;
  position: relative;
}

@mixin geo-alert__content__icon {
  margin-right: 15px;
}

@mixin geo-alert__content__body {
  margin-right: 10px;
}

@mixin geo-alert__content__actions {
  flex-shrink: 0;
  margin-right: 5px;
  text-transform: uppercase;

  a {
    border-radius: 3px;
    cursor: pointer;
    font-family: $font_family_heading;
    padding: 2px 5px 3px;
  }
}

@mixin geo-alert__content__close-icon {
  cursor: pointer;
  margin: 0 10px 0 5px;
}

@mixin geo-alert-make($modifier-name) {

  $modifier-name-with-prefix: '';

  @if $modifier-name != '' {
    // sass-lint:disable space-around-operator
    $modifier-name-with-prefix: --#{$modifier-name};
  }

  .geo-alert#{$modifier-name-with-prefix} {
    @include geo-alert;
  }

  .geo-alert--floating#{$modifier-name-with-prefix} {
    @include geo-alert--floating;
  }

  .geo-alert__content--info#{$modifier-name-with-prefix} {
    @include geo-alert__content--info($modifier-name-with-prefix);
  }

  .geo-alert__content--success#{$modifier-name-with-prefix} {
    @include geo-alert__content--success($modifier-name-with-prefix);
  }

  .geo-alert__content--warn#{$modifier-name-with-prefix} {
    @include geo-alert__content--warn($modifier-name-with-prefix);
  }

  .geo-alert__content--warning#{$modifier-name-with-prefix} {
    @include geo-alert__content--warning($modifier-name-with-prefix);
  }

  .geo-alert__content--error#{$modifier-name-with-prefix} {
    @include geo-alert__content--error($modifier-name-with-prefix);
  }

  .geo-alert__content--progress#{$modifier-name-with-prefix} {
    @include geo-alert__content--progress($modifier-name-with-prefix);
  }

  .geo-alert__content#{$modifier-name-with-prefix} {
    @include geo-alert__content;
  }

  .geo-alert__content__icon#{$modifier-name-with-prefix} {
    @include geo-alert__content__icon;
  }

  .geo-alert__content__body#{$modifier-name-with-prefix} {
    @include geo-alert__content__body;
  }

  .geo-alert__content__actions#{$modifier-name-with-prefix} {
    @include geo-alert__content__actions;
  }

  .geo-alert__content__close-icon#{$modifier-name-with-prefix} {
    @include geo-alert__content__close-icon;
  }
}

// Build default alert

@include geo-alert-make('');
