@mixin geo-alert__content--progress($modifier-name-with-prefix) {
  background: $color_blue_dark;
  color: $color_white;

  .geo-alert__content__icon#{$modifier-name-with-prefix},
  .geo-alert__content__close-icon#{$modifier-name-with-prefix}:hover {
    color: $color_link;
  }

  a {
    color: $color_blue_light;

    &:hover {
      background: brighten($color_blue_dark, -10);
    }
  }
}
