@mixin _geo-alert__content--variant (
  $text-color,
  $tint-color,
  $modifier-name-with-prefix
) {
  background: $tint-color;
  color: $text-color;

  .geo-alert__content__icon#{$modifier-name-with-prefix},
  .geo-alert__content__close-icon#{$modifier-name-with-prefix}:hover {
    color: brighten($tint-color, -40);
  }

  a {
    color: brighten($tint-color, -40);

    &:hover {
      background: brighten($tint-color, -10);
    }
  }
}
