.highlighted-string__container {
  align-items: center;
  display: inline;
}

.highlighted-string--normal {
  display: inline;
}

.highlighted-string--highlighted {
  background: $color-yellow-highlight;
  display: inline;
  font-weight: $font-weight-bold;
}
