@keyframes marquee-animation {
  0% {
    transform: translateX(0);
  }

  65% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.geo-marquee {
  cursor: pointer;
  display: flex;
  overflow: hidden;
  width: 100%;
}

.geo-marquee__text-content {
  padding-right: $space-small;
  white-space: nowrap;
}
