@keyframes marquee-animation {
  0% {
    transform: translateX(0);
  }

  65% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@mixin geo-marquee-make ($modifier-name) {
  $modifier-name-with-prefix: '';

  @if $modifier-name != '' {
    // sass-lint:disable space-around-operator
    $modifier-name-with-prefix: --#{$modifier-name};
  }

  .geo-marquee#{$modifier-name-with-prefix} {
    cursor: pointer;
    display: flex;
    overflow: hidden;
    width: 100%;
  }

  .geo-marquee__text-content#{$modifier-name-with-prefix} {
    padding-right: $space-x-small;
    white-space: nowrap;
  }
}

@include geo-marquee-make('');