.geo-modal {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: $z-index-modal;

  .geo-modal__backdrop {
    bottom: 0;
    background: $color-grey-backdrop;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
  }

  .geo-modal__content {
    align-items: center;
    display: flex;
    justify-content: center;
    z-index: 1;
  }

  .geo-modal__content-body {
    padding: $space-base;
  }
}
