@mixin geo-file-upload--focused {
  background: rgba($color-blue, .1);
  border-color: $color-blue;
}

@mixin geo-file-upload-show-focused-icon {
  .geo-file-upload__upload-icon {
    display: none;
  }

  .geo-file-upload__upload-icon--focused {
    display: block;
  }
}

.geo-file-upload {
  align-items: center;
  background: $color-white-dark;
  border: 1px dashed $color-grey;
  border-radius: $border-radius-default;
  color: $color-grey-light;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-family: $font-family-text;
  padding: 20px;
  position: relative;

  &:hover {
    @include geo-file-upload--focused;
    @include geo-file-upload-show-focused-icon;
  }
}

.geo-file-upload--focused {
  @include geo-file-upload--focused;
  @include geo-file-upload-show-focused-icon;
}

.geo-file-upload--success {
  background: rgba($color-green-light, .1);
  border-color: $color-green-light;

  &.geo-file-upload--focused {
    @include geo-file-upload--focused;
    @include geo-file-upload-show-focused-icon;
  }
}

.geo-file-upload--error {
  background: rgba($color-red, .1);
  border-color: $color-red;

  &.geo-file-upload--focused {
    @include geo-file-upload--focused;
    @include geo-file-upload-show-focused-icon;
  }
}

.geo-file-upload--warning {
  background: rgba($color-yellow, .1);
  border-color: $color-yellow;

  &.geo-file-upload--focused {
    @include geo-file-upload--focused;
    @include geo-file-upload-show-focused-icon;
  }
}

.geo-file-upload--loading {
  cursor: progress;

  &:hover {
    background: $color-white-dark;
    border-color: $color-grey;
  }
}

.geo-file-upload__loading-indicator {
  font-size: $display-medium;
  height: 1.125em;
  margin-bottom: $space-small;
  width: 1.125em;
}

.geo-file-upload__upload-icon {
  font-size: $display-medium;
  margin-bottom: $space-small;
}

.geo-file-upload__upload-icon--success {
  color: $color-green-light;
}

.geo-file-upload__upload-icon--error {
  color: $color-red;
}

.geo-file-upload__upload-icon--warning {
  color: $color-yellow;
}

.geo-file-upload__upload-icon--focused {
  color: $color-blue;
  display: none;
}

.geo-file-upload__title {
  @include font($body);
}

.geo-file-upload__help {
  @include font($body);

  color: $color-grey-light;
  margin-top: 10px;
  text-align: center;
}

.geo-file-upload__help--error,
.geo-file-upload__help--warning {
  font-style: italic;
}

.geo-file-upload__input {
  display: none;
}
