@mixin geo-segmented-control-make($modifier-name) {
  @include geo-segmented-control-item-make($modifier-name);

  $modifier-name-with-prefix: '';

  @if $modifier-name != '' {
    // sass-lint:disable space-around-operator
    $modifier-name-with-prefix: --#{$modifier-name};
  }

  $idle-color: $color-grey;
  $active-color: $color-blue;
  $hover-color: $color-link;

  .geo-segmented-control#{$modifier-name-with-prefix} {
    align-items: center;
    background: $color-white;
    border: 1px solid $idle-color;
    border-radius: $border-radius-default;
    display: flex;
    flex-direction: row;
    width: 100%;

    .geo-segmented-control-item#{$modifier-name-with-prefix} {
      background: transparent;
      border-color: transparent;
      margin: -1px 0;
      width: 100%;

      &:first-child {
        margin-left: -1px;
      }

      &:last-child {
        margin-right: -1px;
      }

      &:not(:first-child) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }

      &:not(:last-child) {
        margin-right: -1px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      & + .geo-segmented-control-item#{$modifier-name-with-prefix} {
        border-left-color: $idle-color;
      }

      &.geo-segmented-control-item--active#{$modifier-name-with-prefix} {
        border-color: $active-color;
      }

      // &, &.geo-segmented-control-item--active#{$modifier-name-with-prefix} {
      //   &:hover {
      //     border-left-color: $hover-color;
      //     border-right-color: $hover-color;
      //   }
      // }

      // We don't want left border on the button after the currently active one
      &.geo-segmented-control-item--active#{$modifier-name-with-prefix} +
      .geo-segmented-control-item#{$modifier-name-with-prefix} {
        border-left-color: transparent;
      }

      // &:not(.geo-segmented-control-item--active):hover {
      //   border-bottom-color: $idle-color;
      //   border-left-color: $idle-color;
      //   border-top-color: $idle-color;
      // }

      // But if we hover the item previous to an active item, then we want both
      // borders
      // &:hover + .geo-segmented-control-item--active#{$modifier-name-with-prefix} {
      //   border-left-color: $active-color;
      // }

      // But if we hover the item after an active item, then we want both
      // borders
      // &.geo-segmented-control-item--active#{$modifier-name-with-prefix} +
      // .geo-segmented-control-item:hover#{$modifier-name-with-prefix} {
      //   border-left-color: transparent;
      // }
    }
  }
}

@include geo-segmented-control-make('');
