@mixin geo-segmented-control-item-make($modifier-name) {

  $modifier-name-with-prefix: '';

  @if $modifier-name != '' {
    // sass-lint:disable space-around-operator
    $modifier-name-with-prefix: --#{$modifier-name};
  }

  .geo-segmented-control-item#{$modifier-name-with-prefix} {
    align-items: center;
    background: $color-white;
    border: 1px solid $color-grey;
    border-radius: $border-radius-default;
    color: $color-grey-darker;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    font-family: $font-family-text;
    font-size: $display-x-small;
    font-weight: $font-weight-bold;
    padding: 5px 10px 7px 10px;
    text-align: center;
    user-select: none;
    white-space: nowrap;

    &:hover {
      color: $color-blue;
    }

    & > *:first-child:not(:last-child) {
      margin-right: 5px;
    }
  }

  .geo-segmented-control-item--active#{$modifier-name-with-prefix} {
    &, &:hover {
      border-color: $color-blue;
      color: $color-blue;
    }
  }
}

@include geo-segmented-control-item-make('');
