.geo-dropdown__regular-button-container {
  align-items: center;
  background-color: $color-white;
  border: 1px solid $color-grey;
  border-radius: $border-radius-default;
  color: $color-grey-darker;
  cursor: pointer;
  display: flex;
  font-family: $font-family-text;
  font-size: $font-size-regular;
  height: 40px;
  justify-content: center;
  line-height: $line-height-base;
  padding: 0 10px;

  &:hover, &[hover] {
    border-color: $color-blue;

    .geo-dropdown__regular-button-container__icon {
      color: $color-blue;
    }
  }

  strong {
    color: $color-blue;
    font-weight: $font-weight-bold;
  }
}

.geo-dropdown__regular-button-container__icon {
  &--left {
    margin-right: 5px;
    order: 1;
  }

  &--right {
    margin-left: 5px;
    order: 2;
  }

  &:last-child {
    margin: 0;
  }
}

.geo-dropdown__regular-button-container__content {
  order: 1;
}

.geo-dropdown__regular-button-container--disabled {
  cursor: not-allowed;

  &, &:hover, &[hover] {
    background-color: $color-white-dark;
    border-color: $color-grey;

    .geo-dropdown__regular-button-container__icon {
      color: $color-grey-light;
    }
  }
}

.geo-dropdown__regular-button-container--active {
  &, &:hover, &[hover] {
    background-color: $color-blue;
    border-color: $color-blue;
    color: $color-white;

    strong, .geo-dropdown__regular-button-container__icon {
      color: $color-yellow-light;
    }
  }
}
