.geo-dropdown__compact-button-container {
  align-items: center;

  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 3px;
  color: $color-grey-darker;

  cursor: pointer;
  display: flex;
  font-size: $font-size-regular;
  height: 2em;
  justify-content: center;
  padding: 0.35em;
  width: 1.2em;

  &:hover {
    background-color: $color-white;
    border-color: $color-blue;
    color: $color-blue;
  }
}

.geo-dropdown__compact-button-container--disabled {
  cursor: not-allowed;

    .geo-dropdown__compact-button-container__icon {
      color: $color-grey-light;
    }
    &:hover, &[hover]{
      border: none;
    }
}
