@mixin geo-dropdown-footer-make($modifier-name) {

  $modifier-name-with-prefix: '';

  @if $modifier-name != '' {
    // sass-lint:disable space-around-operator
    $modifier-name-with-prefix: --#{$modifier-name};
  }

  .geo-dropdown__footer#{$modifier-name-with-prefix} {
    background: $color-white-dark;
    border-top: 1px solid $color-grey;
    padding: 10px;
    white-space: nowrap;
  }

}

@include geo-dropdown-footer-make('');
