@mixin geo-dropdown-make($modifier-name) {

  $modifier-name-with-prefix: '';

  @if $modifier-name != '' {
    // sass-lint:disable space-around-operator
    $modifier-name-with-prefix: --#{$modifier-name};
  }

  .geo-dropdown#{$modifier-name-with-prefix} {
    display: flex;
    font-family: $font_family_text;
    font-size: $font_size_regular;
    user-select: none;
  }

  .geo-dropdown__popup#{$modifier-name-with-prefix} {
    // Use this variable to customize the space between toggle button popup
    --spacing-to-toggle-button: 5;

    display: none;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    user-select: none;
    z-index: $z-index-sticky;
  }

  .geo-dropdown__popup--is-open#{$modifier-name-with-prefix} {
    display: flex;
    flex-direction: column;
  }

}

@include geo-dropdown-make('');
