@mixin time-unit-button-reset() {
  background: none;
  border: inherit;
  cursor: pointer;
  height: 100%;
  outline: 0;
  padding: inherit;
}

@mixin time-unit-unavailable {
  cursor: not-allowed;

  .geo-calendar-date-picker-unit__placeholder,
  .geo-calendar-grid__date-picker-unit {
    pointer-events: none;
  }
}

@mixin geo-calendar-grid-make($modifier-name) {
  $modifier-name-with-prefix: '';

  $day-unit-size: 25px;
  $border-radius-selected-date-unit: 50vh;

  @if $modifier-name != '' {
    // sass-lint:disable space-around-operator
    $modifier-name-with-prefix: --#{$modifier-name};
  }

  .geo-calendar-grid#{$modifier-name-with-prefix} {
    // DAYS GRID VIEW
    .geo-calendar-grid__weekdays-row-container {
      @include font($label-optional);

      border-bottom: 1px solid $color-white-darker;
      display: flex;
      justify-content: space-around;
      padding-bottom: $space-x-small;
    }

    .geo-calendar-weekdays-row__weekday-name {
      text-transform: capitalize;
    }

    .geo-calendar-grid__day-container {
      display: grid;
      margin-top: $space-small;
      grid-row-gap: $space-small;
    }

    .geo-calendar-days-container__week-unit {
      align-items: center;
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      grid-template-rows: calc(#{$day-unit-size} + 2px);
      text-align: center;

      &:hover.geo-calendar-days-container__week-unit--is-week-granularity {
        background: $color-blue-readable-background;
        border-radius: $border-radius-selected-date-unit;
        color: $color-grey-darker;
      }

      &--unavailable {
        @include time-unit-unavailable;
        color: $color-grey;
      }
    }

    .geo-calendar-days__day-unit {
      line-height: $day-unit-size;
      position: relative;

      .geo-calendar-date-picker-unit__placeholder {
        box-sizing: border-box;
        position: relative;
      }

      &:hover:not(.geo-calendar-grid__date-picker-unit--unavailable):not(.geo-calendar-grid__date-picker-unit--selected)  .geo-calendar-date-picker-unit__placeholder {
        border-radius: 50%;
        box-sizing: content-box;
        margin: 0 auto;
        width: $day-unit-size;
      }

      &.geo-calendar-grid__date-picker-unit--today .geo-calendar-date-picker-unit__placeholder:after {
        $today-mark-height: 2px;
        background: $color-yellow;
        bottom: $today-mark-height * 2;
        content: '';
        height: $today-mark-height;
        left: 0;
        margin: 0 auto;
        position: absolute;
        right: 0;
        width: 15px;
      }

      &.geo-calendar-grid__date-picker-unit--out-of-boundaries:not(.geo-calendar-grid__date-picker-unit--unavailable) {
        color: $color-grey-light;
      }

      &.geo-calendar-grid__date-picker-unit--from-date {
        padding-left: 0;

        .geo-calendar-date-picker-unit__placeholder {
          margin-left: 0;
        }
      }

      &.geo-calendar-grid__date-picker-unit--from-date:not(.geo-calendar-days__day-unit--to-date) {
        margin-left: $space-small;
      }

      &.geo-calendar-grid__date-picker-unit--to-date {
        margin-right: $space-small;
        padding-right: 0;

        .geo-calendar-date-picker-unit__placeholder {
          margin-left: $space-small;
        }
      }

      &.geo-calendar-grid__date-picker-unit--selected .geo-calendar-date-picker-unit__placeholder {
        box-sizing: content-box;
        height: $day-unit-size;
        width: $day-unit-size;
      }

    }

    // MONTHS GRID VIEW
    .geo-calendar-grid__month-container {
      display: grid;
      grid-row-gap: calc(#{$space-base - $space-x-small});
    }

    .geo-calendar-months-container__quarter {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }

    .geo-calendar-months-container__quarter--highlighted,
    .geo-calendar-months-container__quarter--actionable:hover {
      background: $color-blue-readable-background;
      border-radius: $border-radius-selected-date-unit;
      color: $color-grey-darker;
    }

    .geo-calendar-months-container__quarter--unavailable {
      @include time-unit-unavailable;
      color: $color-grey;
    }

    // YEARS GRID VIEW
    .geo-calendar-grid__year-container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-row-gap: $space-base;
    }

    // COMMON ELEMENTS
    .geo-calendar-grid__date-picker-unit {
      @include font($body-small);
      @include time-unit-button-reset;

      &:hover:not(.geo-calendar-grid__date-picker-unit--unavailable):not(.geo-calendar-grid__date-picker-unit--selected) > .geo-calendar-date-picker-unit__placeholder {
        background: $color-blue-readable-background;
        border: 1px solid $color-blue;
        color: $color-grey-darker;
      }

      &--within-range {
        background: $color-blue-readable-background;
      }

      &--selected > .geo-calendar-date-picker-unit__placeholder {
        background: $color-blue;
        border-radius: $border-radius-selected-date-unit;
        color: $color-white;
      }

      &--unavailable {
        @include time-unit-unavailable;
        color: $color-grey;
        text-decoration: line-through;
      }

      &--from-date {
        border-top-left-radius: $border-radius-selected-date-unit;
        border-bottom-left-radius: $border-radius-selected-date-unit;
      }

      &--to-date {
        border-top-right-radius: $border-radius-selected-date-unit;
        border-bottom-right-radius: $border-radius-selected-date-unit;
      }
    }

    .geo-calendar-quarter__month-unit,
    .geo-calendar-years__year-unit {
      .geo-calendar-date-picker-unit__placeholder {
        border: 1px solid transparent;
        margin: 0;
        padding: 3px 0;
      }

      &:hover:not(.geo-calendar-grid__date-picker-unit--unavailable):not(.geo-calendar-grid__date-picker-unit--selected) .geo-calendar-date-picker-unit__placeholder {
        border-radius: $border-radius-selected-date-unit;
      }
    }
  }
}