@mixin geo-calendar-make($modifier-name) {

  $modifier-name-with-prefix: '';

  @if $modifier-name != '' {
    // sass-lint:disable space-around-operator
    $modifier-name-with-prefix: --#{$modifier-name};
  }

  @include geo-dropdown-make('geo-calendar__dropdown#{$modifier-name-with-prefix}');
  @include geo-button-make('calendar-picker-button#{$modifier-name-with-prefix}');

  .geo-calendar#{$modifier-name-with-prefix} {
    display: flex;
  }

  .geo-calendar__granularity-selectors {
    background: $color-white-dark;
    border-right: 1px solid $color-grey;
    box-sizing: border-box;
    padding: $space-small;
    width: 200px;
  }

  .geo-calendar__picker-controls {
    padding: $space-base;
  }

  .geo-calendar__input-ranges {
    align-items: baseline;
    border-bottom: 1px solid $color-grey;
    display: flex;
    padding-bottom: $space-base;
  }

  .geo-calendar__input {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
  }

  .geo-button--calendar-picker-button > .geo-button__label--calendar-picker-button {
    padding-left: 0;
  }

  .geo-calendar-navigation {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: $space-base 0;
  }

  .geo-calendar-navigation__nav-icon {
    @include font($label-optional);

    cursor: pointer;
  }

  .geo-calendar-grid__weekdays-row-container {
    @include font($label-optional);

    border-bottom: 1px solid $color-white-darker;
    display: flex;
    justify-content: space-around;
    padding-bottom: $space-x-small;
  }

  .weekdays-row__weekday-name {
    text-transform: capitalize;
  }

  .geo-calendar-grid__days-container {
    display: grid;
    margin-top: $space-small;
    grid-row-gap: 10px;
    justify-content: space-evenly;
  }

  .days-container__week-unit {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(7, 25px);
    grid-template-rows: 25px;
    text-align: center;
    grid-column-gap: 18px;
  }

  .days-container__day-picker {
    @include font($body-small);

    cursor: pointer;
    line-height: 25px;
    position: relative;

    &:hover {
      background: rgba($color-blue, 0.1);
      border-radius: 50%;
    }

    &--today:after {
      background: $color-yellow;
      bottom: 4px;
      content: '';
      height: 2px;
      left: 0;
      margin: 0 auto;
      position: absolute;
      right: 0;
      width: 16px;
    }

    &--out-of-boundaries {
      color: $color-grey-light;
    }
  }
}

@include geo-calendar-make('');
