@mixin geo-tab-bar-common {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 $space-small;
}

.geo-tab-bar-default {
  @include geo-tab-bar-common;

  background-color: $color-blue-dark;
  height: 50px;
}

.geo-tab-bar-modal {
  @include geo-tab-bar-common;

  background-color: $color-white-dark;
  height: 40px;
}
