@mixin geo-tab-bar-item-common {
  $border-height: 4px;

  align-items: center;
  background-color: transparent;
  border-bottom: $border-height solid transparent;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: $border-height $space-small 0;

  &:not(:last-of-type) {
    margin-right: $space-large;
  }

  & > *:not(:first-child) {
    margin-left: $space-small;
  }
}
@mixin geo-tab-bar-item-container-common {
  $border-height: 4px;

  align-items: center;
  border-bottom: $border-height solid transparent;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.geo-tab-bar-item-default {
  @include font($heading-light);
  @include geo-tab-bar-item-common;

  color: $color-white;
  height: 38px;

  &:hover, &[hover] {
    color: $color-white;
  }
}

.geo-tab-bar-item-container-default {
  @include geo-tab-bar-item-container-common;

  background-color: $color-blue-dark;
  height: 38px;
  
  &:hover, &[hover] {
    border-bottom-color: $color-blue-light;
  }
}

.geo-tab-bar-item-default--active {
  &:hover, &[hover] {
    color: $color-white;
  }
}
.geo-tab-bar-item-container-default--active{
  border-bottom-color: $color-yellow;

  &:hover, &[hover] {
    border-bottom-color: $color-blue-light;
  }
}

.geo-tab-bar-item-modal {
  @include font($heading-light);
  @include geo-tab-bar-item-common;

  height: 28px;

}
.geo-tab-bar-item-container-modal{
  @include geo-tab-bar-item-container-common;
  background-color: $color-white-dark;

  &:hover, &[hover] {
    border-bottom-color: $color-grey;
  }
}

.geo-tab-bar-item-modal--active {
  @include font($heading);
}

.geo-tab-bar-item-container-modal--active{
  border-bottom-color: $color-blue;

  &:hover, &[hover] {
    border-bottom-color: $color-grey;
  }
}
