@mixin geo-tab-bar-common {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 $space-small;
}

@mixin geo-tab-bar-make($modifier-name) {

  $modifier-name-with-prefix: '';

  @if $modifier-name != '' {
    @include geo-tab-bar-item-make($modifier-name);

    // sass-lint:disable space-around-operator
    $modifier-name-with-prefix: --#{$modifier-name};
  }

  .geo-tab-bar-default#{$modifier-name-with-prefix} {
    @include geo-tab-bar-common;

    background-color: $color-blue-dark;
    height: 50px;
  }

  .geo-tab-bar-modal#{$modifier-name-with-prefix} {
    @include geo-tab-bar-common;

    background-color: $color-white-dark;
    height: 40px;
  }
}

@include geo-tab-bar-make('');
