.geo-markdown-content {
  strong {
    &, span {
      font-weight: bold;
    }
  }

  em {
    &, span {
      font-style: italic;
    }
  }

  .geo-markdown-content-node-link__link {
    cursor: pointer;
  }
}
