@mixin geo-markdown-content-make ($modifier-name) {
  $modifier-name-with-prefix: '';

  @if $modifier-name != '' {
    // sass-lint:disable space-around-operator
    $modifier-name-with-prefix: --#{$modifier-name};
  }

  .geo-markdown-content#{$modifier-name-with-prefix} {
    strong {
      font-weight: bold;
    }

    em {
      font-style: italic;
    }
  }
}

@include geo-markdown-content-make('');
