
.geo-value {
  border-radius: $border-radius-default;
}

.geo-value__column {
  float: left;
}

.geo-value--primary {
  .geo-value__value {
    @include font($display-medium);
    display: inline-block;
  }
  .geo-value__unit {
    @include font($body-small);
    display: inline-block;
  }

  .geo-value__description {
    @include font($body-small);
    margin-top: 3px;
  }
  &.geo-value--negative {
    .geo-value__value, .geo-value__unit {
      color: $color-red;
    }
  }
  &.geo-value--neutral {
    .geo-value__value, .geo-value__unit {
      color: $color-yellow;
    }
  }
  &.geo-value--positive {
    .geo-value__value, .geo-value__unit {
      color: $color-green;
    }
  }
}

.geo-value--secondary {
  padding: 0px 2px;

  .geo-value__column {
    margin: 0 5px;
  }

  .geo-value__row {
    display: inline-block;
  }
  .geo-value__value, .geo-value__unit, .geo-value__description {
    @include font($body-small);
    display: inline-block;
  }
  &.geo-value--negative {
    background-color: $color-red-readable-border;
  }
  &.geo-value--neutral {
    background-color: $color-yellow-readable-border;
  }
  &.geo-value--positive {
    background-color: $color-green-readable-border;
  }
}