.geo-scrollable-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 150px;
  overflow: hidden;
}

.geo-scrollable-container__body {
  flex-grow: 1;
  flex-shrink: 1;
  max-height: 350px;
  overflow-y: auto;
  overflow-x: hidden;
}
