$geo_table_border_color: $color_grey;
$geo_table_shadow_background_dark: rgba(205, 205, 205, .7);
$geo_table_shadow_background_transparent: rgba(255, 255, 255, 0);
$geo_table_shadow_size: $space_small;
