@mixin geo-table-header-row-cell-make-common ($modifier-name-with-prefix) {
  @include geo-table-make-cell($color-white);
  @include font($table-title);

  justify-content: space-between;
  white-space: nowrap;

  &:hover {
    .geo-table-sort#{$modifier-name-with-prefix} {
      visibility: visible;
    }
  }
}

@mixin geo-table-header-row-cell-make($modifier-name) {

  $modifier-name-with-prefix: '';

  @if $modifier-name != '' {
    // sass-lint:disable space-around-operator
    $modifier-name-with-prefix: --#{$modifier-name};
  }

  .geo-table-header-row-cell--main#{$modifier-name-with-prefix},
  .geo-table-header-row-cell--single#{$modifier-name-with-prefix} {
    @include geo-table-header-row-cell-make-common($modifier-name-with-prefix);

    position: relative;
  }

  .geo-table-header-row-cell--aux#{$modifier-name-with-prefix} {
    @include geo-table-header-row-cell-make-common($modifier-name-with-prefix);
    @include font($heading-xsmall);
  }

  .geo-table-header-row-cell--multiLine#{$modifier-name-with-prefix} {
    @include geo-table-header-row-cell-make-common($modifier-name-with-prefix);

    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    padding: $space-x-small $space-small;
    position: relative;
  }
}

@include geo-table-header-row-cell-make('');
