.geo-table-header-row--main {
  @include geo-table-make-row($color-white-darker);

  color: $color-grey-darker;
  position: relative;
}

.geo-table-header-row--aux {
  @include geo-table-make-row($color-white-dark);

  color: $color-grey-darker;
}

.geo-table-header-row--single {
  @include geo-table-make-row($color-white-dark);

  color: $color-grey-darker;
  position: relative;
}

.geo-table-header-row--multiLine {
  @include geo-table-make-row($color-white-dark);

  color: $color-grey-darker;
  height: auto;
  position: relative;
}
