.geo-table-sort {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: $space-small;
  visibility: hidden;

  .geo-table-sort__button {
    color: $color-grey-light;
    cursor: pointer;

    &:hover {
      color: $color-link;
    }
  }

  .geo-table-sort__button--active {
    color: $color-link;
  }

  .geo-table-sort__button--asc {
    margin-bottom: -1px;
  }

  .geo-table-sort__button--desc {
    margin-top: -1px;
  }
}

.geo-table-sort--active {
  visibility: visible;
}
