@import './geo-table.constants';

@mixin geo-table-make-row ($background-color) {
  background: $background-color;
  display: flex;
  flex-direction: row;
  height: $space-large;

  &:first-child {
    > * {
      border-top: 0;
    }
  }
}

@mixin geo-table-make-cell ($background-color) {
  align-items: center;
  border-left: 1px solid $geo_table_border_color;
  border-top: 1px solid $geo_table_border_color;
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  height: 100%;
  padding: 0 $space_small;

  &:first-child {
    border-left: 0;
  }
}