$geo-table-border-color: $color-grey;
$geo-table-shadow-background-dark: rgba(205, 205, 205, .7);
$geo-table-shadow-background-transparent: rgba(255, 255, 255, 0);
$geo-table-shadow-size: $space-small;
