@mixin geo-table-pagination-make-action {
  box-sizing: content-box;
  color: $color-grey-light;
  cursor: pointer;
  flex-grow: 0;
  height: $space-small;
  width: $space-small;

  &:hover {
    color: $color-link;
  }
}

.geo-table-pagination {
  align-items: center;
  color: $color-grey-dark;
  display: flex;
  flex: 1 0 auto;
  flex-direction: row;
  height: $space-large;
  justify-content: center;

  .geo-table-pagination__current-range {
    @include font($table-value);

    padding: 0 $space-base;
  }

  .geo-table-pagination__action-first {
    &, &--disabled {
      @include geo-table-pagination-make-action;

      padding: 0 0 0 $space-base;
    }
  }

  .geo-table-pagination__action-prev {
    &, &--disabled {
      @include geo-table-pagination-make-action;

      padding: 0 0 0 $space-base;
    }
  }

  .geo-table-pagination__action-next {
    &, &--disabled {
      @include geo-table-pagination-make-action;

      padding: 0 $space-base 0 0;
    }
  }

  .geo-table-pagination__action-last {
    &, &--disabled {
      @include geo-table-pagination-make-action;

      padding: 0 $space-base 0 0;
    }
  }
}

.geo-table-pagination--aux {
  @include geo-table-make-row($color-white-dark);

  color: $color-grey-darker;
}

.geo-table-pagination--single {
  @include geo-table-make-row($color-white-dark);

  color: $color-grey-darker;
  position: relative;
}
