@import './geo-table-row.common';

@mixin geo-table-body-row-cell-make($modifier-name) {

  $modifier-name-with-prefix: '';

  @if $modifier-name != '' {
    // sass-lint:disable space-around-operator
    $modifier-name-with-prefix: --#{$modifier-name};
  }

  .geo-table-body-row-cell#{$modifier-name-with-prefix} {
    @include geo-table-make-cell($color-white);
    @include font($body-small);

    white-space: nowrap;
  }
}

@include geo-table-body-row-cell-make('');
