@mixin geo-suffix-select-make($modifier-name) {

  $modifier-name-with-prefix: '';

  @if $modifier-name != '' {
    // sass-lint:disable space-around-operator
    $modifier-name-with-prefix: --#{$modifier-name};
  }

  .geo-suffix-select#{$modifier-name-with-prefix} {
    @include font($body);
    
    background-color: $color-white-darker;
    border-bottom : 1px solid $color-grey;
    border-top : 1px solid $color-grey;
    box-sizing: border-box;
    color:$color-grey-darker;
    height: $space-x-large;
    padding: $space-small;
    border-radius: 0 $border-radius-default $border-radius-default 0;
    border-right: 1px solid $color-grey;

    cursor: pointer;
    justify-content: space-between;
    user-select: none;

    &:hover, &:focus {
      color: $color-dark;
    }

    .geo-suffix-select__wrapper {
      align-items: center;
      display: flex;
    }
  }

  .geo-suffix-select--disabled#{$modifier-name-with-prefix} {
    cursor: not-allowed;
    color:$color-grey-darker;

    .geo-suffix-select__toggle-icon#{$modifier-name-with-prefix} {
      color: $color-grey-light;
    }

    &:hover, &:focus {
      color:$color-grey-darker;

      .geo-suffix-select__toggle-icon#{$modifier-name-with-prefix} {
        color: $color-grey-light;
      }
    }
  }

  .geo-suffix-select__toggle-icon#{$modifier-name-with-prefix} {
    margin-left: 10px;
  }
}

@include geo-suffix-select-make('');
