$fontMap: (
  display_large: (
    color: $color_grey_darker,
    font-family: $font_family_heading,
    font-size: $font_size_xlarge,
    font-weight: $font_weight_semi_bold,
    line-height: 38px
  ),
  display_medium: (
    color: $color_grey_darker,
    font-family: $font_family_heading,
    font-size: $font_size_large,
    font-weight: $font_weight_semi_bold,
    line-height: 32px
  ),
  display_small: (
    color: $color_grey_darker,
    font-family: $font_family_heading,
    font-size: $font_size_medium,
    font-weight: $font_weight_semi_bold,
    line-height: 26px
  ),

  heading: (
    color: $color_grey_darker,
    font-family: $font_family_heading,
    font-size: $font_size_regular,
    font-weight: $font_weight_semi_bold,
    line-height: 20px
  ),
  heading_light: (
    color: $color_grey_darker,
    font-family: $font_family_heading,
    font-size: $font_size_regular,
    font-weight: $font_weight_medium,
    line-height: 20px
  ),
  heading_small: (
    color: $color_grey_darker,
    font-family: $font_family_heading,
    font-size: $font_size_small,
    font-weight: $font_weight_medium,
    line-height: 18px
  ),
  heading_xsmall: (
    color: $color_grey_light,
    font-family: $font_family_heading,
    font-size: $font_size_xsmall,
    font-weight: $font_weight_medium,
    line-height: 15px,
    letter-spacing: 1px,
    text-transform: uppercase
  ),

  body: (
    color: $color_grey_darker,
    font-family: $font_family_text,
    font-size: $font_size_regular,
    font-weight: $font_weight_regular,
    line-height: 20px,
  ),
  body_small: (
    color: $color_grey_darker,
    font-family: $font_family_text,
    font-size: $font_size_small,
    font-weight: $font_weight_regular,
    line-height: 18px,
  ),
  body_xsmall: (
    color: $color_grey_darker,
    font-family: $font_family_text,
    font-size: $font_size_xsmall,
    font-weight: $font_weight_regular,
    line-height: 14px,
  ),

  highlight: (
    color: $color_blue,
    font-family: $font_family_text,
    font-size: $font_size_regular,
    font-weight: $font_weight_bold,
    line-height: 20px,
  ),
  highlight_small: (
    color: $color_blue,
    font-family: $font_family_text,
    font-size: $font_size_small,
    font-weight: $font_weight_bold,
    line-height: 18px,
  ),

  label: (
    color: $color_blue,
    font-family: $font_family_heading,
    font-size: $font_size_small,
    font-weight: $font_weight_medium,
    line-height: 15px,
  ),
  label_big: (
    color: $color_blue,
    font-family: $font_family_heading,
    font-size: $font_size_small,
    font-weight: $font_weight_semi_bold,
    line-height: 15px,
  ),
  label_optional: (
    color: $color_grey_light,
    font-family: $font_family_heading,
    font-size: $font_size_small,
    font-weight: $font_weight_medium,
    line-height: 15px,
  )
);
