@mixin geo-select-make($modifier-name) {

  $modifier-name-with-prefix: '';

  @if $modifier-name != '' {
    // sass-lint:disable space-around-operator
    $modifier-name-with-prefix: --#{$modifier-name};
  }

  .geo-select__placeholder-box__container#{$modifier-name-with-prefix} {
    align-items: center;
    background: $color_white;
    border: 1px solid $color_grey;
    border-radius: $border_radius_default;
    display: flex;
    height: 40px;
    padding: 0 10px;
    width: 200px;
  }

  .geo-select__placeholder-box#{$modifier-name-with-prefix} {
    border: 0;
    font-family: $font_family_text;
    font-size: $font_size_base;
    outline: 0;
    width: 100%;
  }

  .geo-select__placeholder-box--empty#{$modifier-name-with-prefix} {
    font-size: $font_size_small;
    color: color_grey_light;
    font-style: italic;
  }

  .geo-select__options-container--has-opt-groups#{$modifier-name-with-prefix} {
    padding-left: 10px;
  }

}

@include geo-select-make('');