@mixin geo-select-base-make($modifier-name) {

  $modifier-name-with-prefix: '';

  @if $modifier-name != '' {
    // sass-lint:disable space-around-operator
    $modifier-name-with-prefix: --#{$modifier-name};
  }

  .geo-select__options-container#{$modifier-name-with-prefix} {
    max-height: 250px;
    overflow-y: auto;
  }
}

@include geo-select-base-make('');