@mixin geo-select-more-results-make($modifier-name) {

  $modifier-name-with-prefix: '';

  @if $modifier-name != '' {
    // sass-lint:disable space-around-operator
    $modifier-name-with-prefix: --#{$modifier-name};
  }

  .geo-select-more-results__container#{$modifier-name-with-prefix} {
    align-items: center;
    background: $color_white;
    border-top: 1px solid $color_grey;
    display: flex;
    height: 40px;
    padding: 0 10px;
  }

  .geo-select-more-results__text-content#{$modifier-name-with-prefix} {
    font-family: $font_family_text;
    font-size: font_size_small;
    user-select: none;
  }
  
  .geo-select-more-results__text-content--more-results#{$modifier-name-with-prefix} {
    cursor: pointer;
    color: $color_blue;
    font-style: italic;
  }

  .geo-select-more-results__text-content--no-results#{$modifier-name-with-prefix} {
    color: $color_grey_light;
  }
}

@include geo-select-more-results-make('');