@mixin geo-select-entry-make($modifier-name) {

  $modifier-name-with-prefix: '';

  @if $modifier-name != '' {
    // sass-lint:disable space-around-operator
    $modifier-name-with-prefix: --#{$modifier-name};
  }

  .geo-select-entry__container#{$modifier-name-with-prefix} {
    align-items: center;
    border-radius: $border_radius_default;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    margin: 5px;
    min-height: 30px;
    padding-left: 10px;
    &:hover {
      background: $color_white_dark;
    }
  }

}

@include geo-select-entry-make('');