@mixin geo-select-entry-make($modifier-name) {

  $modifier-name-with-prefix: '';

  @if $modifier-name != '' {
    // sass-lint:disable space-around-operator
    $modifier-name-with-prefix: --#{$modifier-name};
  }

  .geo-select-entry__container#{$modifier-name-with-prefix} {
    align-items: center;
    border-radius: $border_radius_default;
    cursor: pointer;
    display: flex;
    font-family: $font_family_text;
    justify-content: space-between;
    margin: 5px;
    min-height: 30px;
    padding-left: 10px;
    &:hover {
      background: $color_white_dark;
    }
  }
  .geo-select-entry__container--opt-group#{$modifier-name-with-prefix} {
    user-select: none;
    padding-left: 0;
    &:hover {
      background: inherit;
    }
  }

  .geo-select-entry__content--opt-group#{$modifier-name-with-prefix} {
    color: $color_grey_darker;
    font-weight: $font_weight_semi_bold;
  }
}

@include geo-select-entry-make('');