@keyframes geoActivityIndicatorSpin {
  100% {
    transform: rotate(360deg);
  }
}

@mixin geo-activity-indicator () {
  height: 100%;
  position: relative;
  width: 100%;

  g {
    animation: geoActivityIndicatorSpin 1s linear infinite;
    animation-play-state: paused;
    transform-origin: 50% 50%;
  }
}

@mixin geo-activity-indicator--animated () {
  g {
    animation-play-state: running;
  }
}

@mixin geo-activity-indicator-make-variant (
  $variant-name,
  $base-color-or-completed-percentage-background: null,
  $nothing-or-background: null
) {
  $completed-percentage-background: $color-blue;
  $background: null;

  @if $base-color-or-completed-percentage-background {
    $completed-percentage-background: $base-color-or-completed-percentage-background;
  }

  @if $nothing-or-background {
    $background: $nothing-or-background;
  } @else {
    $background: rgba($completed-percentage-background, 0.3);
  }

  .geo-activity-indicator__total--#{$variant-name} {
    fill: $background;
  }

  .geo-activity-indicator__completed-path--#{$variant-name} {
    fill: $completed-percentage-background;
  }
}

.geo-activity-indicator {
  @include geo-activity-indicator;
}

.geo-activity-indicator--animated {
  @include geo-activity-indicator--animated;
}

.geo-activity-indicator__inset {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

@include geo-activity-indicator-make-variant(
  'default'
);

@include geo-activity-indicator-make-variant(
  'primary',
  $color-link
);

@include geo-activity-indicator-make-variant(
  'info',
  $color-blue
);

@include geo-activity-indicator-make-variant(
  'success',
  $color-green-darker
);

@include geo-activity-indicator-make-variant(
  'error',
  $color-red-darker
);

@include geo-activity-indicator-make-variant(
  'warn',
  $color-yellow-light
);

@include geo-activity-indicator-make-variant(
  'progress',
  $color-link
);

@include geo-activity-indicator-make-variant(
  'dark-transparent',
  $color-white
);
