@mixin geo-input-make($modifier-name) {

  $border-size: 1px;
  $modifier-name-with-prefix: '';

  @if $modifier-name != '' {
    // sass-lint:disable space-around-operator
    $modifier-name-with-prefix: --#{$modifier-name};
  }

  .geo-input#{$modifier-name-with-prefix} {
    width: 100%;

    .geo-input__input-wrapper {
      display: flex;
      position: relative;
    }

    .geo-input__input-field {
      align-items: center;
      display: flex;
      width: 100%;
    }

    .geo-input__input {
      @include font($body);

      background: transparent;
      border: none;
      box-sizing: border-box;
      flex-grow: 1;
      height: $space-x-large;
      outline: none;
      padding: $space-small;
      width: 100%;
      z-index: 1;

      &:focus,
      &[focus] {
        & ~ .geo-input__input-outline {
          border: $border-size solid $color-blue;
          box-shadow: $box-shadow-focus;
        }
      }

      &:invalid,
      &[invalid] {
        & ~ .geo-input__input-outline {
          border: $border-size solid $color-red;
          box-shadow: $box-shadow-focus-error;
        }
      }

      &::placeholder {
        color: $color-grey-light;
      }
    }

    .geo-input__input-outline {
      border: $border-size solid $color-grey;
      border-radius: $border-radius-default;
      bottom: 0;
      flex-grow: 0;
      left: 0;
      outline: none;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 0;
    }

    .geo-input__accessory-items {
      align-items: center;
      color: $color-grey-light;
      display: flex;
      flex-direction: row;
      font-size: $font-size-small;
      z-index: 1;
    }

    .geo-input__accessory-items--leading {
      .geo-input__accessory-items-item {
        flex-shrink: 0;
        margin-left: $space-small;
      }
    }

    .geo-input__accessory-items--trailing {
      .geo-input__accessory-items-item {
        flex-shrink: 0;
        margin-right: $space-small;
      }
    }

    .geo-input__icon--delete {
      color: $color-red;
      cursor: pointer;
    }
  }

  .geo-input--success#{$modifier-name-with-prefix} {
    .geo-input__input {
      &, &:focus, &[focus] {
        & ~ .geo-input__input-outline {
          border: $border-size solid $color-green;
        }
      }

      &:focus, &[focus] {
        & ~ .geo-input__input-outline {
          box-shadow: $box-shadow-focus-success;
        }
      }
    }
  }

  .geo-input--error#{$modifier-name-with-prefix} {
    .geo-input__input {
      &, &:focus, &[focus] {
        & ~ .geo-input__input-outline {
          border: $border-size solid $color-red;
        }
      }

      &:focus, &[focus] {
        & ~ .geo-input__input-outline {
          box-shadow: $box-shadow-focus-error;
        }
      }
    }
  }

  .geo-input--disabled#{$modifier-name-with-prefix} {
    cursor: not-allowed;

    .geo-input__input {
      cursor: not-allowed;

      &, &:focus, &[focus] {
        color: $color-grey-light;
      }

      &, &:focus, &[focus] {
        & ~ .geo-input__input-outline {
          background-color: $color-white-dark;
          border: $border-size solid $color-grey;
        }
      }
    }
  }
}

@include geo-input-make('');
