@mixin geo-input-make($modifier-name) {

  $modifier-name-with-prefix: '';

  @if $modifier-name != '' {
    // sass-lint:disable space-around-operator
    $modifier-name-with-prefix: --#{$modifier-name};
  }

  .geo-input#{$modifier-name-with-prefix} {
    width: 100%;

    .geo-input__input-wrapper {
      display: flex;
    }

    .geo-input__input-field {
      display: flex;
      align-items: center;
      position: relative;
      width: 100%;
    }

    .geo-input__input-field:hover .geo-input__icon--delete {
      display: inline;
    }

    .geo-input__input {
      @include font($body);

      border: 1px solid $color-grey;
      border-radius: $border-radius-default;
      box-sizing: border-box;
      height: $space-x-large;
      outline: none;
      padding: $space-small;
      width: 100%;

      &:focus, &[focus] {
        border: 1px solid $color-blue;
        box-shadow: $box-shadow-focus;
      }

      &:invalid {
        border: 1px solid $color-red;
        box-shadow: none;
      }

      &::placeholder {
        color: $color-grey-light;
      }
    }

    %geo-input-prefix-suffix {
      @include font($body);
    
      background-color: $color-white-darker;
      border-bottom : 1px solid $color-grey;
      border-top : 1px solid $color-grey;
      box-sizing: border-box;
      color:$color-grey-darker;
      height: $space-x-large;
      padding: $space-small;
    }
    
    .geo-input__prefix {
      @extend %geo-input-prefix-suffix;
    
      border-left: 1px solid $color-grey;
      border-radius: $border-radius-default 0 0 $border-radius-default;
    }

    .geo-input__input--prefix {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    
    .geo-input__suffix {
      @extend %geo-input-prefix-suffix;
    
      border-radius: 0 $border-radius-default $border-radius-default 0;
      border-right: 1px solid $color-grey;
    }

    .geo-input__input--suffix {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    .geo-input__input--leading-space {
      padding-left: $space-large;
    }

    .geo-input__input--delete-icon-space {
      padding-right: $space-large;
    }

    .geo-input__icon {
      color: $color-grey-light;
      font-size: $font-size-small;
      position: absolute;
    }

    .geo-input__icon--leading {
      left: $space-small;
    }

    .geo-input__icon--trailing {
      right: $space-small;
    }

    .geo-input__icon--delete {
      color: $color-red;
      cursor: pointer;
    }

    .geo-input__icon--delete-with-type-number {
      padding-right: 25px;
    }
  }

  .geo-input--success#{$modifier-name-with-prefix} {
    .geo-input__input {
      &, &:focus {
        border: 1px solid $color-green;
        box-shadow: none;
      }
    }
  }

  .geo-input--error#{$modifier-name-with-prefix} {
    .geo-input__input {
      &, &:focus {
        border: 1px solid $color-red;
        box-shadow: none;
      }
    }
  }

  .geo-input--disabled#{$modifier-name-with-prefix} {
    .geo-input__input {
      padding-right: $space-large;

      &, &:focus {
        background-color: $color-white-dark;
        color: $color-grey-light;
      }
    }
  }
}

@include geo-input-make('');
