.geo-input-prefix {
  @include font($body);

  $border-size: 1px;

  background-color: $color-white-darker;
  border-right: $border-size solid $color-grey;
  border-radius: $border-radius-default 0 0 $border-radius-default;
  box-sizing: border-box;
  color: $color-grey-darker;
  height: $space-x-large - 2 * $border-size;
  margin-left: -$space-small + $border-size;
  padding: $space-small;
}
