.geo-input-message {
  @include font($body-small);
  color: $color-grey-light;
  margin-top: $space-x-small;
}

.geo-input-message--error {
  color: $color-red;
}

.geo-input-message--success {
  color: $color-green;
}
