.geo-input-suffix {
  @include font($body);

  $border-size: 1px;

  background-color: $color-white-darker;
  border-radius: 0 $border-radius-default $border-radius-default 0;
  border-left: $border-size solid $color-grey;
  box-sizing: border-box;
  color: $color-grey-darker;
  height: $space-x-large - 2 * $border-size;
  margin-right: -$space-small + $border-size;
  padding: $space-small;
}
