@mixin geo-button($css-suffix) {
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  border: 1px solid transparent;
  cursor: pointer;
  display: flex;
  font-family: $font_family_text;
  font-size: $small;
  font-weight: font_weight_bold;
  line-height: 1.25em;
  overflow: hidden;
  position: relative;
  text-transform: uppercase;
  user-select: none;

  $this: &;

  &--disabled#{$css-suffix} {
    cursor: not-allowed;

    &:not(#{$this}--loading#{$css-suffix}) {
      opacity: .3;
    }
  }

  .geo-button__label#{$css-suffix} {
    padding: .58em .83em .67em .83em;
    transition: all $duration_noticeable $easing_base;
    transition-property: transform, opacity;
  }

  .geo-button__label--loading#{$css-suffix} {
    transform: scale(0);
    opacity: 0;
  }

  .geo-button__activity-indicator#{$css-suffix} {
    height: 1em;
    position: absolute;
    width: 1em;
  }
}

@mixin geo-button-make($modifier-name) {

  $modifier-name-with-prefix: '';

  @if $modifier-name != '' {
    // sass-lint:disable space-around-operator
    $modifier-name-with-prefix: --#{$modifier-name};
  }

  .geo-button#{$modifier-name-with-prefix} {
    @include geo-button($modifier-name);
  }

  .geo-button--primary#{$modifier-name-with-prefix} {
    @include geo-button--primary($modifier-name-with-prefix);
  }

  .geo-button--secondary#{$modifier-name-with-prefix} {
    @include geo-button--secondary($modifier-name-with-prefix);
  }

  .geo-button--tertiary#{$modifier-name-with-prefix} {
    @include geo-button--tertiary($modifier-name-with-prefix);
  }

  .geo-button--danger#{$modifier-name-with-prefix} {
    @include geo-button--danger($modifier-name-with-prefix);
  }

  .geo-button--destructive#{$modifier-name-with-prefix} {
    @include geo-button--destructive($modifier-name-with-prefix);
  }
}

@include geo-button-make('');
