@mixin geo-button--primary($css-suffix) {
  @include geo-button-make-scheme((
    normal-background-color: $color_blue,
    normal-text-color: $color_white,
    hover-background-color: $color_blue_dark,
    disabled-background-color: $color_blue,
    disabled-text-color: $color_white
  ), $css-suffix);

  transition: all $duration_quickly $easing_base;
  transition-property: background-color;
}
