@mixin geo-button--danger($css-suffix) {
  @include geo-button-make-scheme((
    normal-background-color: $color_red,
    normal-text-color: $color_white,
    hover-background-color: $color_red_dark,
    disabled-background-color: $color_red,
  ), $css-suffix);

  transition: all $duration_quickly $easing_base;
  transition-property: background-color, border-color, color;
}
