// Creates a geo-button color scheme varying the background and text color based
// on the hover/focus/disabled status.
@mixin geo-button-make-scheme ($params, $css-suffix) {
  $hoverYOffsetWithBorders: -3px;

  &#{$css-suffix} {
    @if map-has-key($params, normal-background-color) {
      background: map-get($params, normal-background-color);
    }

    @if map-has-key($params, normal-text-color) {
      color: map-get($params, normal-text-color);
    }

    @if map-has-key($params, normal-border-color) {
      border-color: map-get($params, normal-border-color);
    }

    &::before {
      bottom: 0;
      content: "";
      left: 0;
      opacity: 0;
      position: absolute;
      right: 0;
      top: 0;
      transition: opacity $easing-base $duration-noticeable;

      @if map-has-key($params, hover-shadow) {
        box-shadow: map-get($params, hover-shadow);
      }
    }

    /* This pseudo-element prevents hover flickering due to button translation
       on hover. To do so efficiently this element is position at the beginning
       and moved using a transform when parent is hovered */
    &::after {
      /* Basic setup */
      content: "";
      bottom: 0;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;

      /* We need to place the pseudo-element under everything else. Without
        specifying the placement, it will sit on top of the parent element (our
        card) and block the user from selecting text or clicking links */
      z-index: -1;
    }

    &:hover, &[hover], &:focus, &[focus] {
      @if map-has-key($params, hover-transform) {
        transform: map-get($params, hover-transform);
        transition: transform $easing-base $duration-noticeable;

        &::before {
          opacity: 1;
        }

        &::after {
          /* Bottom is positioned to cover the area the hovered element is leaving */
          transform: translateY(-$hoverYOffsetWithBorders);
        }
      }

      @if map-has-key($params, hover-decoration) {
        text-decoration: map-get($params, hover-decoration);
      }

      @if map-has-key($params, hover-background-color) {
        background: map-get($params, hover-background-color);
      }

      @if map-has-key($params, hover-text-color) {
        color: map-get($params, hover-text-color);
      }

      @if map-has-key($params, hover-border-color) {
        border-color: map-get($params, hover-border-color);
      }
    }

    &:active {
      @if map-has-key($params, hover-transform) {
        transform: none;
      }

      @if map-has-key($params, hover-decoration) {
        text-decoration: none;
      }
    }
  }

  &--disabled#{$css-suffix} {
    @if map-has-key($params, disabled-background-color) {
      background: map-get($params, disabled-background-color);
    }

    @if map-has-key($params, disabled-text-color) {
      color: map-get($params, disabled-text-color);
    }

    @if map-has-key($params, disabled-border-color) {
      border-color: map-get($params, disabled-border-color);
    }

    &:hover, &[hover], &:focus, &[focus] {
      &::before {
        opacity: 0;
      }

      @if map-has-key($params, hover-transform) {
        transform: none;
      }

      @if map-has-key($params, hover-decoration) {
        text-decoration: none;
      }

      @if map-has-key($params, hover-shadow) {
        box-shadow: none;
      }

      @if map-has-key($params, hover-and-disabled-background-color) {
        background: map-get($params, hover-and-disabled-background-color);
      } @else if map-has-key($params, disabled-background-color) {
        background: map-get($params, disabled-background-color);
      } @else if map-has-key($params, hover-background-color) {
        background: map-get($params, hover-background-color);
      }

      @if map-has-key($params, hover-and-disabled-border-color) {
        border-color: map-get($params, hover-and-disabled-border-color);
      } @else if map-has-key($params, disabled-border-color) {
        border-color: map-get($params, disabled-border-color);
      } @else if map-has-key($params, hover-border-color) {
        border-color: map-get($params, hover-border-color);
      }

      @if map-has-key($params, hover-and-disabled-text-color) {
        color: map-get($params, hover-and-disabled-text-color);
      } @else if map-has-key($params, disabled-text-color) {
        color: map-get($params, disabled-text-color);
      } @else if map-has-key($params, hover-text-color) {
        color: map-get($params, hover-text-color);
      }
    }
  }
}

@mixin geo-button--primary($css-suffix) {
  $hoverYOffset: -1px;

  @include geo-button-make-scheme((
    normal-background-color: $color-blue,
    normal-text-color: $color-white,
    disabled-background-color: $color-grey,
    disabled-text-color: $color-grey-light,
    hover-and-disabled-background-color: $color-grey,
    hover-shadow: $box-shadow-button-hover,
    hover-transform: translateY($hoverYOffset)
  ), $css-suffix);

  &#{$css-suffix} {
    transition: all $duration-quickly $easing-base;
    transition-property: background-color;
  }
}

@mixin geo-button--secondary($css-suffix) {
  $hoverYOffset: -1px;

  @include geo-button-make-scheme((
    normal-background-color: $color-white,
    normal-text-color: $color-blue,
    normal-border-color: $color-blue,
    disabled-background-color: $color-white-disabled,
    disabled-text-color: $color-grey-light,
    disabled-border-color: $color-grey,
    hover-shadow: $box-shadow-button-hover,
    hover-transform: translateY($hoverYOffset)
  ), $css-suffix);

  &#{$css-suffix} {
    transition: all $duration-quickly $easing-base;
    transition-property: background-color, border-color, color;
  }
}

@mixin geo-button--tertiary($css-suffix) {
  @include geo-button-make-scheme((
    normal-background-color: transparent,
    normal-text-color: $color-blue,
    normal-border-color: transparent,
    disabled-text-color: $color-grey-light,
    hover-decoration: underline
  ), $css-suffix);

  &#{$css-suffix} {
    font-style: italic;
    font-weight: $font-weight-regular;
    font-size: $font-size-regular;
    letter-spacing: initial;
    text-transform: initial;

    transition: color $duration-quickly $easing-base;
  }
}

@mixin geo-button--destructive($css-suffix) {
  $hoverYOffset: -1px;

  @include geo-button-make-scheme((
    normal-background-color: $color-red,
    normal-text-color: $color-white,
    disabled-background-color: $color-white-disabled,
    disabled-text-color: $color-grey-light,
    disabled-border-color: $color-grey,
    hover-shadow: $box-shadow-button-hover,
    hover-transform: translateY($hoverYOffset)
  ), $css-suffix);

  &#{$css-suffix} {
    transition: all $duration-quickly $easing-base;
    transition-property: background-color, border-color, color;
  }
}

@mixin geo-button--danger($css-suffix) {
  $hoverYOffset: -1px;

  @include geo-button-make-scheme((
    normal-background-color: $color-red,
    normal-text-color: $color-white,
    disabled-background-color: $color-white-disabled,
    disabled-text-color: $color-grey-light,
    disabled-border-color: $color-grey,
    hover-shadow: $box-shadow-button-hover,
    hover-transform: translateY($hoverYOffset)
  ), $css-suffix);

  &#{$css-suffix} {
    transition: all $duration-quickly $easing-base;
    transition-property: background-color, border-color, color;
  }
}

@mixin geo-button--link($css-suffix) {
  @include geo-button-make-scheme((
    normal-background-color: transparent,
    normal-text-color: $color-blue,
    normal-border-color: transparent,
    disabled-text-color: $color-grey-light,
    hover-decoration: underline
  ), $css-suffix);

  &#{$css-suffix} {
    display: flex;
    font-style: italic;
    font-weight: $font-weight-regular;
    font-size: $font-size-regular;
    justify-content: flex-start;
    letter-spacing: initial;
    text-transform: initial;
    transition: color $duration-quickly $easing-base;

    .geo-button__label#{$css-suffix} {
      display: inline;
      padding: 0;
    }
  }
}

@mixin geo-button--dangerLink($css-suffix) {
  @include geo-button-make-scheme((
    normal-background-color: transparent,
    normal-text-color: $color-red,
    normal-border-color: transparent,
    disabled-text-color: $color-grey-light,
    hover-decoration: underline
  ), $css-suffix);

  &#{$css-suffix} {
    font-style: italic;
    font-weight: $font-weight-regular;
    font-size: $font-size-regular;
    justify-content: flex-start;
    letter-spacing: initial;
    text-transform: initial;
    transition: color $duration-quickly $easing-base;

    .geo-button__label#{$css-suffix} {
      padding: 0;
    }
  }
}

@mixin geo-button($css-suffix) {
  &#{$css-suffix} {
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    border: 1px solid transparent;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    font-family: $font-family-text;
    font-size: $font-size-small;
    font-weight: $font-weight-bold;
    height: 30px;
    letter-spacing: 1px;
    line-height: 1.25em;
    position: relative;
    text-transform: uppercase;
    user-select: none;

    .geo-button__label#{$css-suffix} {
      padding: .58em .83em .67em .83em;
      transition: all $duration-noticeable $easing-base;
      transition-property: transform, opacity;
    }

    .geo-button__label--loading#{$css-suffix} {
      transform: scale(0);
      opacity: 0;
    }

    .geo-button__activity-indicator#{$css-suffix} {
      height: 20px;
      position: absolute;
      width: 20px;
    }
  }

  &--loading#{$css-suffix} {
    cursor: progress;
  }

  &--disabled#{$css-suffix} {
    cursor: not-allowed;
  }
}

@mixin geo-button-make($modifier-name) {

  $modifier-name-with-prefix: '';

  @if $modifier-name != '' {
    // sass-lint:disable space-around-operator
    $modifier-name-with-prefix: --#{$modifier-name};
  }

  .geo-button {
    @include geo-button($modifier-name-with-prefix);
  }

  .geo-button--primary {
    @include geo-button--primary($modifier-name-with-prefix);
  }

  .geo-button--secondary{
    @include geo-button--secondary($modifier-name-with-prefix);
  }

  .geo-button--tertiary {
    @include geo-button--tertiary($modifier-name-with-prefix);
  }

  .geo-button--danger {
    @include geo-button--danger($modifier-name-with-prefix);
  }

  .geo-button--destructive {
    @include geo-button--destructive($modifier-name-with-prefix);
  }

  .geo-button--link {
    @include geo-button--link($modifier-name-with-prefix);
  }

  .geo-button--dangerLink {
    @include geo-button--dangerLink($modifier-name-with-prefix);
  }
}

@include geo-button-make('');
