@mixin geo-bordered-token-make($modifier-name) {

  $modifier-name-with-prefix: '';

  @if $modifier-name != '' {
    // sass-lint:disable space-around-operator
    $modifier-name-with-prefix: --#{$modifier-name};
  }

  .geo-bordered-token#{$modifier-name-with-prefix} {
    background: $color-white-dark;
    border: 1px solid $color-grey;
    border-radius: 3px;
    padding: 8px 10px;
    user-select: none;

    .geo-bordered-token__icon {
      color: $color-grey-light;
    }

    .geo-bordered-token__label {
      color: $color-grey-darker;
      font-family: $font-family-text;
      padding-left: 5px;
    }
  }
}

@include geo-bordered-token-make('');
