.geo-editable-input__container {
  align-items: center;
  background: $color-white;
  border: 1px solid $color-grey;
  box-sizing: border-box;
  display: flex;
  height: 40px;
  padding: 5px;
  width: 100%;

  .geo-dropdown {
    width: 100%;
  }
}

.geo-editable-input__container-normal {
  border-radius: $border-radius-default;
}

.geo-editable-input__container-normal--edit {
  border: 1px solid $color-blue;
  box-shadow: $box-shadow-focus;
}

.geo-editable-input__container-table {
  &:hover {
    background-color: $color-white-dark;

    .geo-editable-input__form__input {
      border: 1px solid $color-grey;
    }
  }
}

.geo-editable-input__container-table--edit {
  background-color: $color-white-dark;

  .geo-editable-input__form__input {
    border: 1px solid $color-grey;
  }
}

.geo-editable-input__container--disabled:hover {
  background-color: $color-white;

  .geo-editable-input__form__input {
    border: 1px solid transparent;
  }
}

.geo-editable-input__form__input {
  border: 1px solid transparent;
  border-radius: $border-radius-default;
  box-sizing: border-box;
  font-size: $font-size-regular;
  height: 30px;
  padding: 0 5px;
  width: 100%;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: $color-grey-light;
  }
}

.geo-editable-input__container__buttons {
  display: flex;
  justify-content: flex-end;
}

.geo-editable-input__form {
  width: 100%;
}

.geo-editable-input__form {
  align-items: center;
  display: flex;
}

.geo-editable-input__popup,
.geo-editable-input__popup {
  border: none;
  background-color: transparent;
  overflow: visible;
}

.geo-editable-input__popup--table {
  --spacing-to-toggle-button: 6;
}

.geo-editable-input__popup--normal {
  --spacing-to-toggle-button: 11;
}

.geo-editable-input__popup {
  .geo-activity-indicator {
    height: 12px;
  }
}
