@mixin geo-editable-input-make($modifier-name) {
  $modifier-name-with-prefix: '';

  @if $modifier-name != '' {
    // sass-lint:disable space-around-operator
    $modifier-name-with-prefix: --#{$modifier-name};
  }

  @include geo-activity-indicator-make('geo-editable-input#{$modifier-name-with-prefix}');
  @include geo-dropdown-make('geo-editable-input--table#{$modifier-name-with-prefix}');
  @include geo-dropdown-make('geo-editable-input--normal#{$modifier-name-with-prefix}');

  .geo-editable-input__container#{$modifier-name-with-prefix} {
    align-items: center;
    background: $color-white;
    border: 1px solid $color-grey;
    box-sizing: border-box;
    display: flex;
    height: 40px;
    padding: 5px;
    width: 100%;
  }

  .geo-editable-input__container-normal#{$modifier-name-with-prefix} {
    border-radius: $border-radius-default;
  }

  .geo-editable-input__container-normal--edit#{$modifier-name-with-prefix} {
    border: 1px solid $color-blue;
    box-shadow: $box-shadow-focus;
  }

  .geo-editable-input__container-table#{$modifier-name-with-prefix} {
    &:hover {
      background-color: $color-white-dark;

      .geo-editable-input__form__input#{$modifier-name-with-prefix} {
        border: 1px solid $color-grey;
      }
    }
  }

  .geo-editable-input__container-table--edit#{$modifier-name-with-prefix} {
    background-color: $color-white-dark;

    .geo-editable-input__form__input#{$modifier-name-with-prefix} {
      border: 1px solid $color-grey;
    }
  }

  .geo-editable-input__container--disabled#{$modifier-name-with-prefix}:hover {
    background-color: $color-white;

    .geo-editable-input__form__input#{$modifier-name-with-prefix} {
      border: 1px solid transparent;
    }
  }

  .geo-editable-input__form__input#{$modifier-name-with-prefix} {
    border: 1px solid transparent;
    border-radius: $border-radius-default;
    box-sizing: border-box;
    font-size: $font-size-regular;
    height: 30px;
    padding: 0 5px;
    width: 100%;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: $color-grey-light;
    }
  }

  .geo-editable-input__container__buttons#{$modifier-name-with-prefix} {
    display: flex;
    justify-content: flex-end;
  }

  .geo-editable-input__form#{$modifier-name-with-prefix},
  .geo-dropdown--geo-editable-input--table#{$modifier-name-with-prefix},
  .geo-dropdown--geo-editable-input--normal#{$modifier-name-with-prefix} {
    width: 100%;
  }

  .geo-editable-input__form#{$modifier-name-with-prefix} {
    align-items: center;
    display: flex;
  }

  .geo-dropdown__popup--geo-editable-input--table#{$modifier-name-with-prefix},
  .geo-dropdown__popup--geo-editable-input--normal#{$modifier-name-with-prefix} {
    border: none;
    background-color: transparent;
    overflow: visible;
  }

  .geo-dropdown__popup--geo-editable-input--table#{$modifier-name-with-prefix} {
    --spacing-to-toggle-button: 6;
  }

  .geo-dropdown__popup--geo-editable-input--normal#{$modifier-name-with-prefix} {
    --spacing-to-toggle-button: 11;
  }

  .geo-activity-indicator--geo-editable-input#{$modifier-name-with-prefix} {
    height: 12px;
  }
}

@include geo-editable-input-make('');