.geo-collapsable-box {
  border: 1px solid $color-grey;
  border-radius: $border-radius-default;
  box-shadow: $box-shadow-small;
  padding: $space-small 0;
  width: 100%;

  .geo-collapsable-box__header {
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 $space-small;

    width: 100%;
  }

  .geo-collapsable-box__header-content {
    @include font($heading);
  }

  .geo-collapsable-box__toggle-icon {
    color: $color-grey-light;
    font-size: $font-size-small;
    transition: transform $easing-base $duration-noticeable;
  }

  .geo-collapsable-box__trailing-items {
    align-items: center;
    display: flex;
    flex-direction: row;
  }

  .geo-collapsable-box__body {
    display: flex;
    flex-direction: row;
    height: auto;
    overflow-y: hidden;
    padding: $space-small $space-small 0 $space-small;
  }
}

.geo-collapsable-box--expanded {
  .geo-collapsable-box__toggle-icon {
    transform: rotate(180deg);
  }
}

.geo-collapsable-box--disabled, .geo-collapsable-box--disabled .geo-collapsable-box__header {
  cursor: not-allowed;
}
