@mixin geo-prefix-make($modifier-name) {

  $modifier-name-with-prefix: '';
  $border-size: 1px;

  @if $modifier-name != '' {
    // sass-lint:disable space-around-operator
    $modifier-name-with-prefix: --#{$modifier-name};
  }

  .geo-prefix#{$modifier-name-with-prefix} {
    @include font($body);

    background-color: $color-white-darker;
    border-right: $border-size solid $color-grey;
    border-radius: $border-radius-default 0 0 $border-radius-default;
    box-sizing: border-box;
    color: $color-grey-darker;
    height: $space-x-large - 2 * $border-size;
    margin-left: -$space-small + $border-size;
    padding: $space-small;
  }
}

@include geo-prefix-make('');
