@mixin geo-tooltip-make($modifier-name) {

  $modifier-name-with-prefix: '';

  @if $modifier-name != '' {
    // sass-lint:disable space-around-operator
    $modifier-name-with-prefix: --#{$modifier-name};
  }

  .geo-tooltip {
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    z-index: $z-index-tooltip;
  }

  .geo-tooltip-static {
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    z-index: $z-index-tooltip + 1;
  }

  $popper-background-color: $color-dark-overlay !default;
  $popper-tooltip-arrow-size: 5px;
  $popper-tooltip-arrow-offset: 2px;

  .geo-tooltip__content#{$modifier-name-with-prefix} {
    // Use this variable to customize the space between trigger target and tooltip
    --spacing-to-trigger-target: #{$popper-tooltip-arrow-size+$popper-tooltip-arrow-offset};

    // You can use these variables to consider available space depending on the
    // position of the tooltip. They are automatically set whenever tooltip is
    // positioned:
    //
    // --available-width
    // --available-height

    // These styles are directly taken from vue-directive-tooltip so Chart
    // tooltips look like regular tooltips.

    @include font($body);

    background-color: $popper-background-color;
    border-radius: 3px;
    box-sizing: border-box;
    color: $color-white;
    max-width: 320px;
    padding: 6px 10px;
    pointer-events: auto;
    position: relative;

    .geo-tooltip__arrow {
      border-style: solid;
      content: '';
      height: 0;
      margin: $popper-tooltip-arrow-size;
      position: absolute;
      width: 0;
    }
  }

  .geo-tooltip__content--top#{$modifier-name-with-prefix},
  .geo-tooltip__content--bottom#{$modifier-name-with-prefix} {
    &.geo-tooltip__content--start#{$modifier-name-with-prefix} .geo-tooltip__arrow {
      left: 0;
    }

    &.geo-tooltip__content--end#{$modifier-name-with-prefix} .geo-tooltip__arrow {
      left: 100%;
      transform: translateX(-200%);
    }

    &.geo-tooltip__content--middle#{$modifier-name-with-prefix} .geo-tooltip__arrow {
      left: 50%;
      transform: translateX(-100%);
    }
  }

  .geo-tooltip__content--leading#{$modifier-name-with-prefix},
  .geo-tooltip__content--trailing#{$modifier-name-with-prefix} {
    &.geo-tooltip__content--start#{$modifier-name-with-prefix} .geo-tooltip__arrow {
      top: 0;
    }

    &.geo-tooltip__content--end#{$modifier-name-with-prefix} .geo-tooltip__arrow {
      top: 100%;
      transform: translateY(-200%);
    }

    &.geo-tooltip__content--middle#{$modifier-name-with-prefix} .geo-tooltip__arrow {
      top: 50%;
      transform: translateY(-100%);
    }
  }

  .geo-tooltip__content--top#{$modifier-name-with-prefix} {
    transform: translateY(-100%);

    .geo-tooltip__arrow {
      border-bottom-color: transparent !important;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-top-color: $popper-background-color;
      border-width: $popper-tooltip-arrow-size $popper-tooltip-arrow-size 0 $popper-tooltip-arrow-size;
      bottom: -$popper-tooltip-arrow-size;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .geo-tooltip__content--bottom#{$modifier-name-with-prefix} .geo-tooltip__arrow {
    border-bottom-color: $popper-background-color;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    border-top-color: transparent !important;
    border-width: 0 $popper-tooltip-arrow-size $popper-tooltip-arrow-size $popper-tooltip-arrow-size;
    margin-top: 0;
    margin-bottom: 0;
    top: -$popper-tooltip-arrow-size;
  }

  .geo-tooltip__content--leading#{$modifier-name-with-prefix} {
    transform: translateX(-100%);

    .geo-tooltip__arrow {
      border-bottom-color: transparent !important;
      border-left-color: $popper-background-color;
      border-right-color: transparent !important;
      border-top-color: transparent !important;
      border-width: $popper-tooltip-arrow-size 0 $popper-tooltip-arrow-size $popper-tooltip-arrow-size;
      margin-left: 0;
      margin-right: 0;
      right: -$popper-tooltip-arrow-size;
    }
  }

  .geo-tooltip__content--trailing#{$modifier-name-with-prefix} .geo-tooltip__arrow {
    border-bottom-color: transparent !important;
    border-left-color: transparent !important;
    border-top-color: transparent !important;
    border-right-color: $popper-background-color;
    border-width: $popper-tooltip-arrow-size $popper-tooltip-arrow-size $popper-tooltip-arrow-size 0;
    left: -$popper-tooltip-arrow-size;
    margin-left: 0;
    margin-right: 0;
  }
}

@include geo-tooltip-make('');
