
.geo-chart {
  &, svg {
    height: 100%;
    width: 100%;
  }

  .hide-paths path {
    visibility: hidden;
  }

  .hide-lines line {
    visibility: hidden;
  }

  .hide-text text {
    visibility: hidden;
  }

  .rect-fill-none rect {
    fill: none;
  }

  .geo-chart-guidelines {
    .domain {
      stroke: $color-grey;
    }

    .tick line {
      stroke: $color-grey;
    }
  }

  .geo-chart-axis-label {
    fill: $color-black;
  }

  .geo-chart-axis-text {
    display: flex;
    flex-direction: row;
    width: 100%;
    .geo-chart-axis-text__content {
      max-width: 95%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .geo-chart-axis-text--left {
    justify-content: flex-end;
  }

  .geo-chart-axis-text--right {
    justify-content: flex-start;
  }
  .geo-chart-value-label--small{
    font-size:9px
  }
  .geo-chart-value-label--medium{
    font-size:13px
  }
}

.geo-chart-quadrant-line {
  color: $color-blue;
}

.geo-chart-tooltip {
  // These styles are directly taken from vue-directive-tooltip so Chart
  // tooltips look like regular tooltips.

  $popper-background-color: $color-dark-overlay !default;
  $popper-tooltip-arrow-size: 5px;

  background-color: $popper-background-color;
  border-radius: 3px;
  box-sizing: border-box;
  color: $color-white;
  max-width: 320px;
  padding: 6px 10px;
  z-index: 100;

  .geo-chart-tooltip__content {
    text-align: center;
  }

  .geo-chart-tooltip__arrow {
    border-style: solid;
    content: '';
    height: 0;
    margin: $popper-tooltip-arrow-size;
    position: absolute;
    width: 0;
  }

  &.n {
    margin-bottom: $popper-tooltip-arrow-size;

    .geo-chart-tooltip__arrow {
      border-bottom-color: transparent !important;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-top-color: $popper-background-color;
      border-width: $popper-tooltip-arrow-size $popper-tooltip-arrow-size 0 $popper-tooltip-arrow-size;
      bottom: -$popper-tooltip-arrow-size;
      left: 50%;
      margin-top: 0;
      margin-bottom: 0;
      transform: translateX(-100%);
    }
  }

  &.s {
    margin-top: $popper-tooltip-arrow-size;

    .geo-chart-tooltip__arrow {
      border-bottom-color: $popper-background-color;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-top-color: transparent !important;
      border-width: 0 $popper-tooltip-arrow-size $popper-tooltip-arrow-size $popper-tooltip-arrow-size;
      left: 50%;
      margin-top: 0;
      margin-bottom: 0;
      top: -$popper-tooltip-arrow-size;
      transform: translateX(-100%);
    }
  }

  &.e {
    margin-left: $popper-tooltip-arrow-size;

    .geo-chart-tooltip__arrow {
      border-bottom-color: transparent !important;
      border-left-color: transparent !important;
      border-top-color: transparent !important;
      border-right-color: $popper-background-color;
      border-width: $popper-tooltip-arrow-size $popper-tooltip-arrow-size $popper-tooltip-arrow-size 0;
      left: -$popper-tooltip-arrow-size;
      margin-left: 0;
      margin-right: 0;
      top: 50%;
      transform: translateY(-100%);
    }
  }

  &.w {
    margin-right: $popper-tooltip-arrow-size;

    .geo-chart-tooltip__arrow {
      border-bottom-color: transparent !important;
      border-left-color: $popper-background-color;
      border-right-color: transparent !important;
      border-top-color: transparent !important;
      border-width: $popper-tooltip-arrow-size 0 $popper-tooltip-arrow-size $popper-tooltip-arrow-size;
      margin-left: 0;
      margin-right: 0;
      right: -$popper-tooltip-arrow-size;
      top: 50%;
      transform: translateY(-100%);
    }
  }
}

.geo-chart--debug {
  background-size: 50px 50px;
  background-image:
    linear-gradient(to right, grey 1px, transparent 1px),
    linear-gradient(to bottom, grey 1px, transparent 0px);
  background-position: -0.5px -0.5px;
}
