@mixin geo-vertical-layout-make () {
  .geo-vertical-layout {
    display: flex;
    flex-direction: column;
  }

  .geo-vertical-layout__body > .geo-scrollable-container__body{
    justify-content: center;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}

@include geo-vertical-layout-make();