@mixin geo-select-base-make($modifier-name) {

  $modifier-name-with-prefix: '';

  @if $modifier-name != '' {
    // sass-lint:disable space-around-operator
    $modifier-name-with-prefix: --#{$modifier-name};
  }

  .geo-select__options-container#{$modifier-name-with-prefix} {
    flex-grow: 0;
    flex-shrink: 1;
    overflow-y: auto;
  }

  @include geo-dropdown-make($modifier-name);

  .geo-dropdown__popup--is-open#{$modifier-name-with-prefix} {
    display: flex;
    flex-direction: column;
  }

  @include geo-scrollable-container-make($modifier-name);

  .geo-scrollable-container#{$modifier-name-with-prefix} {
    flex-grow: 1;
    flex-shrink: 1;
  }
}

@include geo-select-base-make('');