@mixin geo-select-toggle-button-make($modifier-name) {

  $modifier-name-with-prefix: '';

  @if $modifier-name != '' {
    // sass-lint:disable space-around-operator
    $modifier-name-with-prefix: --#{$modifier-name};
  }

  .geo-select-toggle-button#{$modifier-name-with-prefix} {
    align-items: center;
    background: $color-white;
    border: 1px solid $color-grey;
    border-radius: $border-radius-default;
    cursor: pointer;
    display: flex;
    font-family: $font-family-text;
    height: 40px;
    justify-content: space-between;
    padding: 0 10px;
    user-select: none;
    width: 200px;

    &:hover, &:focus {
      border-color: $color-blue;

      .geo-select-toggle-button__toggle-icon#{$modifier-name-with-prefix} {
        color: $color-blue;
      }
    }
  }

  .geo-select-toggle-button--empty#{$modifier-name-with-prefix} {
    font-size: $font-size-regular;
    color: $color-grey-light;
    font-style: italic;
  }

  .geo-select-toggle-button__toggle-icon#{$modifier-name-with-prefix} {
    margin-left: 10px;
  }
}

@include geo-select-toggle-button-make('');