@mixin geo-select-more-results-make($modifier-name) {

  $modifier-name-with-prefix: '';

  @if $modifier-name != '' {
    // sass-lint:disable space-around-operator
    $modifier-name-with-prefix: --#{$modifier-name};
  }

  .geo-select-more-results__container#{$modifier-name-with-prefix} {
    align-items: center;
    background: $color-white;
    border-top: 1px solid $color-grey;
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    height: 40px;
    justify-content: center;
    padding: 0 10px;
  }

  .geo-select-more-results__text-content#{$modifier-name-with-prefix} {
    font-family: $font-family-text;
    font-size: small;
    user-select: none;
  }
  
  .geo-select-more-results__text-content--more-results#{$modifier-name-with-prefix} {
    cursor: pointer;
    color: $color-blue;
    font-style: italic;
  }

  .geo-select-more-results__text-content--no-results#{$modifier-name-with-prefix} {
    color: $color-grey-light;
  }
}

@include geo-select-more-results-make('');