@mixin geo-select-make($modifier-name) {

  $modifier-name-with-prefix: '';

  @if $modifier-name != '' {
    // sass-lint:disable space-around-operator
    $modifier-name-with-prefix: --#{$modifier-name};
  }

  @include geo-select-base-make("geo-select#{$modifier-name-with-prefix}");
  @include geo-list-item-make("geo-select#{$modifier-name-with-prefix}");
  @include geo-list-group-make("geo-select#{$modifier-name-with-prefix}");
  @include geo-list-clear-item-make("geo-select#{$modifier-name-with-prefix}");
  @include geo-bordered-box-header-search-form-make("geo-select#{$modifier-name-with-prefix}");
  @include geo-select-toggle-button-make("geo-select#{$modifier-name-with-prefix}");
  @include geo-marquee-make("geo-select#{$modifier-name-with-prefix}");
  @include geo-trimmed-content-make("geo-select#{$modifier-name-with-prefix}");
  @include geo-highlighted-string-make("geo-select#{$modifier-name-with-prefix}");

  .geo-marquee--geo-select--disabled#{$modifier-name-with-prefix} {
    cursor: not-allowed;
  }

  .geo-trimmed-content--geo-select#{$modifier-name-with-prefix} {
    width: calc(100% - 10px - 0.875em);
  }

  .geo-list-group__header__icon-and-label__label--geo-select#{$modifier-name-with-prefix},
  .geo-list-item__icon-and-label--geo-select#{$modifier-name-with-prefix},
  .geo-list-item__icon-and-label__label--geo-select#{$modifier-name-with-prefix},
  .geo-list-group__header__icon-and-label--geo-select#{$modifier-name-with-prefix},
  .geo-list-group__header__icon-and-label__label--geo-select#{$modifier-name-with-prefix} {
    width: 100%;

    .geo-trimmed-content--geo-select#{$modifier-name-with-prefix} {
      width: 100%;
    }
  }

  .geo-select-toggle-button__toggle-icon--geo-select#{$modifier-name-with-prefix} {
    transition: transform $duration-quickly $easing-base;
  }

  .geo-dropdown--is-open--geo-select#{$modifier-name-with-prefix} .geo-select-toggle-button__toggle-icon--geo-select#{$modifier-name-with-prefix} {
    transform: rotateZ(180deg);
  }

  .geo-list-group--geo-select#{$modifier-name-with-prefix} {
    &:not(:first-child) {
      border-top: 1px solid $color-grey;
      margin-top: $space-small;
    }
  }
}

@include geo-select-make('');