@mixin geo-select-toggle-button-inputAccessory-common($border-size) {
  background: $color-white-darker;
  border-top: none;
  border-bottom: none;
  box-sizing: border-box;
  color: $color-grey-darker;
  height: $space-x-large - 2 * $border-size;
  padding: $space-small;
  width: auto;

  &:hover, &:focus {
    color: $color-dark;

    .geo-select-toggle-button__toggle-icon {
      color: $color-dark;
    }
  }

  &.geo-select-toggle-button--disabled {
    background: $color-white-darker;
    color: $color-grey-darker;

    .geo-select-toggle-button__toggle-icon {
      color: $color-grey-light;
    }

    &:hover, &:focus {
      color: $color-grey-darker;
    }
  }
}

.geo-select-toggle-button {
  @include font($body);

  $border-size: 1px;

  cursor: pointer;
  justify-content: space-between;
  user-select: none;

  align-items: center;
  background: $color-white;
  border: 1px solid $color-grey;
  border-radius: $border-radius-default;
  display: flex;
  height: $space-x-large;
  padding: 0 $space-small;
  width: 200px;

  &.geo-select-toggle-button--empty {
    color: $color-grey-light;
    font-style: italic;
  }

  &.geo-select-toggle-button--disabled {
    background: $color-white-dark;
    color: $color-grey-light;
    cursor: not-allowed;

    &:hover, &:focus {
      border-color: $color-grey;
      .geo-select-toggle-button__toggle-icon {
        color: $color-grey-light;
      }
    }
  }

  &:hover, &:focus {
    border-color: $color-blue;

    .geo-select-toggle-button__toggle-icon {
      color: $color-blue;
    }

    .geo-select-toggle-button__delete-icon {
      visibility: visible;
    }
  }

  &.geo-select-toggle-button--inputAccessorySuffix {
    @include geo-select-toggle-button-inputAccessory-common($border-size);

    border-right: none;
    border-left: $border-size solid $color-grey;
    border-radius: 0 $border-radius-default $border-radius-default 0;
    margin-right: -$space-small + $border-size;
  }

  &.geo-select-toggle-button--inputAccessoryPrefix {
    @include geo-select-toggle-button-inputAccessory-common($border-size);

    border-left: none;
    border-right: $border-size solid $color-grey;
    border-radius: $border-radius-default 0 0 $border-radius-default;
    margin-left: -$space-small + $border-size;
  }
}

.geo-select-toggle-button__delete-icon {
  color: $color-red;
  font-size: $font-size-small;
  margin-left: auto;
}

.geo-select-toggle-button__toggle-icon {
  margin-left: $space-small;
}
