@mixin geo-select-opt-group-header-make($modifier-name) {

  $modifier-name-with-prefix: '';

  @if $modifier-name != '' {
    // sass-lint:disable space-around-operator
    $modifier-name-with-prefix: --#{$modifier-name};
  }

  .geo-select-opt-group-header__container#{$modifier-name-with-prefix} {    
    align-items: center;
    cursor: default;
    display: flex;
    font-family: $font_family_text;
    justify-content: space-between;
    margin: 5px;
    min-height: 30px;
    padding-left: 10px;
    user-select: none;
  }

  .geo-select-opt-group-header__content#{$modifier-name-with-prefix} {
    color: $color_grey_darker;
    font-weight: $font_weight_semi_bold;
  }
}

@include geo-select-opt-group-header-make('');