.geo-select-base {
  .geo-select-toggle-button__toggle-icon {
    transition: transform $duration-quickly $easing-base;
  }

  &.geo-dropdown--is-open {
    .geo-select-toggle-button__toggle-icon {
      transform: rotateZ(-180deg);
    }
  }
}

.geo-select-base__options-container {
  flex-grow: 0;
  flex-shrink: 1;
  overflow-y: auto;
}

.geo-select-base__popup {
  &.geo-dropdown__popup--is-open {
    display: flex;
    flex-direction: column;
  }

  .geo-trimmed-content {
    width: calc(100% - 10px - 0.875em);
  }

  .geo-list-group__header-icon-and-label__label,
  .geo-list-item__icon-and-label,
  .geo-list-item__icon-and-label__label,
  .geo-list-group__header-icon-and-label,
  .geo-list-group__header-icon-and-label__label {
    width: 100%;

    .geo-trimmed-content {
      width: 100%;
    }
  }

  .geo-scrollable-container {
    flex-grow: 1;
    flex-shrink: 1;
  }

  .geo-list-group {
    &:not(:first-child) {
      border-top: 1px solid $color-grey;
      margin-top: $space-small;
    }
  }
}

.geo-select-base__popup--disabled {
  .geo-marquee {
    cursor: not-allowed;
  }
}
