.geo-multi-select {
  flex-grow: 1;

  .geo-multi-select__pills-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -$space-x-small;
    max-height: 128px;
    overflow-y: auto;
  }

  .geo-multi-select__pill {
    height: 28px;
    margin: 0 $space-x-small $space-x-small 0;

    &:last-child {
      margin-right: 0
    }
  }

  .geo-multi-select__pill-remove {
    color: $color-grey-light;
    margin-left: $space-x-small;

    &:hover {
      color: $color-red;
    }
  }
}

.geo-multi-select__popup {
  .geo-multi-select__label-group,
  .geo-multi-select__label {
    align-items: center;
    display: flex;
    font-weight: $font-weight-regular;
  }

  .geo-multi-select__label-group {
    font-weight: $font-weight-semi-bold;
  }

  .geo-multi-select_input {
    margin-left: $space-small;
  }
}

.geo-multi-select {
  .geo-select-toggle-button {
    box-sizing: border-box;
    height: auto;
    min-height: $space-x-large;
    padding: $space-x-small $space-small;
    width: 100%;
  }
}
