.element-demo {

}

.element-demo__columns-layout {
  display: flex;
  flex-direction: row;
  margin-top: $space-base;
}

.element-demo__header {
  align-items: center;
  display: flex;
  font-family: $font_family_heading;
  justify-content: space-between;
}

.element-demo__block {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.element-demo__block--chart-container {
  height: 300px;
  width: 500px;
}

.element-demo__block > * {
  margin-right: $space-base;

  &:last-child {
    margin-right: 0;
  }
}

.element-demo__block__config {
  display: flex;
  flex-direction: column;
  font-family: $font_family_heading;
  font-weight: 700;
  margin-left: auto;

  & > * {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.element-demo__item {
  border: 1px solid $color_grey;
}

.element-demo__inline-input-group {
  margin-left: auto;

  .element-demo__inline-input-group__field {
    margin-left: $space-x-small;
  }
}

.element-demo__inline-input-group__field {
  cursor: pointer;
  font-size: $font-size-small;
  margin-left: auto;

  input {
    border-radius: $border-radius-default;
    border: 1px solid $color-silver;
    margin-left: $space-x-small;
    padding: $space-x-small;
  }
}

.element-demo__bordered-box {
  background: #ffffff;
  border: 1px solid #e2e6ea;
  border-radius: 3px;
  box-shadow: inset 0 0 8px rgba(0, 17, 35, 0.05);
  overflow: hidden;
  padding: 16px;
}

.element-demo__notification-box {
  display: flex;
  width: 100%;
}

.element-demo__block--long-highlighted-string .highlighted-string__container {
  width: 150px;
}

@include geo-select-make('select-demo');
@include geo-select-base-make('select-demo');
@include geo-button-make('test-css-modifier');

// This can't be applied directly in the demo
.geo-chart-bar {
  fill: $color_blue_light;
}

.rect-stroke-red-and-text-fill-black {
  rect {
    stroke: $color_red;
  }

  text {
    fill: black;
  }
}

.fill-red {
  fill: $color_red;
}

.fill-green {
  fill: $color_green;
}

$colors: (
  0: $color-green,
  1: $color-green-dark,
  2: $color-green-darker,
  3: $color-green-light,
  4: $color-green-notification,
  5: $color-blue-dark,
  6: $color-blue,
  7: $color-blue-light,
  8: $color-link,
  9: $color-red,
  10: $color-yellow,
  11: $color-yellow-light,
  12: $color-red-dark,
  13: $color-grey-light,
  14: $color-yellow-darker,
  15: $color-red-darker
);

@for $i from 0 through 15 {
  .geo-chart-color-bar__segment--#{$i},
  .geo-chart-color-bar__highlighted-segment--#{$i},
  .geo-chart-pie-slice--#{$i},
  .geo-chart-line-segments__segment--#{$i},
  .geo-chart-line-segments__segment-stop--#{$i} {
    fill: map-get($colors, $i);
  }
}

$rankLineColors: (
  0: $color-blue,
  1: $color-red,
  2: $color-green,
  3: $color-white-darker
);

.geo-chart-anchored-shapes__text-element {
  font-family: $font-family-text;
  font-size: $font-size-small;
}

@for $i from 0 through 3 {
  .geo-chart-anchored-shapes-group__shape-text-element--#{$i} > .geo-chart-anchored-shapes__shape-element,
  .geo-chart-line-segments__segment--#{$i},
  .geo-chart-line-segments__segment-stop--#{$i} {
    fill: map-get($rankLineColors, $i);
  }
}

.geo-chart--hidden-axis .geo-chart-axis { display: none; }