.element-demo {

}

.element-demo__columns-layout {
  display: flex;
  flex-direction: row;
  margin-top: $space-base;
}

.element-demo__header {
  align-items: center;
  display: flex;
  font-family: $font_family_heading;
  justify-content: space-between;
}

.element-demo__block {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.element-demo__block > * {
  margin-right: $space-base;

  &:last-child {
    margin-right: 0;
  }
}

.element-demo__block__config {
  display: flex;
  flex-direction: column;
  font-family: $font_family_heading;
  font-weight: 700;
  margin-left: auto;

  & > * {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.element-demo__item {
  border: 1px solid $color_grey;
}

.element-demo__inline-input-group {
  margin-left: auto;

  .element-demo__inline-input-group__field {
    margin-left: $space-x-small;
  }
}

.element-demo__inline-input-group__field {
  cursor: pointer;
  font-size: $font-size-small;
  margin-left: auto;

  input {
    border-radius: $border-radius-default;
    border: 1px solid $color-silver;
    margin-left: $space-x-small;
    padding: $space-x-small;
  }
}

.element-demo__bordered-box {
  background: #ffffff;
  border: 1px solid #e2e6ea;
  border-radius: 3px;
  box-shadow: inset 0 0 8px rgba(0, 17, 35, 0.05);
  overflow: hidden;
  padding: 16px;
}

.element-demo__notification-box {
  display: flex;
  width: 100%;
}

.element-demo__block--long-highlighted-string .highlighted-string__container {
  width: 150px;
}

@include geo-select-make('select-demo');
@include geo-select-base-make('select-demo');
@include geo-button-make('test-css-modifier');

// This can't be applied directly in the demo
.geo-chart-bar {
  fill: $color_blue_light;
}

.geo-chart-bars-group--1 .geo-chart-bar {
  fill: $color_red;
}

.geo-chart-bars-group--2 .geo-chart-bar {
  fill: $color_green;
}

.rect-stroke-red-and-text-fill-black {
  rect {
    stroke: red;
  }

  text {
    fill: black;
  }
}
