.element-demo {

}

.element-demo__header {
  align-items: center;
  display: flex;
  font-family: $font_family_heading;
  justify-content: space-between;
}

.element-demo__block {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.element-demo__block > * {
  margin-right: $space-base;

  &:last-child {
    margin-right: 0;
  }
}

.element-demo__inline-input-group {
  margin-left: auto;

  .element-demo__inline-input-group__field {
    margin-left: $space-x-small;
  }
}

.element-demo__inline-input-group__field {
  cursor: pointer;
  font-size: $font-size-small;
  margin-left: auto;

  input {
    border-radius: $border-radius-default;
    border: 1px solid $color-silver;
    margin-left: $space-x-small;
    padding: $space-x-small;
  }
}

.element-demo__bordered-box {
  background: #ffffff;
  border: 1px solid #e2e6ea;
  border-radius: 3px;
  box-shadow: inset 0 0 8px rgba(0, 17, 35, 0.05);
  padding: 16px;
}

@include geo-select-make('select-demo');
@include geo-select-make('select-demo__opt-groups');

.geo-select__options-container--select-demo {
  width: 220px;
}

.geo-select__options-container--select-demo__opt-groups {
  width: 210px;
}

.highlighted-string--highlighted--opt-groups {
  background: yellow;
}
