.geo-list-actionable-item {
  display: flex;
  padding: 15px 10px;

  &:not(:last-child) {
    border-bottom: 1px solid $color-grey;
  }


  .geo-list-actionable-item__leading-icon,
  .geo-list-actionable-item__trailing-accessory-items {
    color: $color-grey-light;
    height: $size-medium;
    width: $size-medium;
  }

  .geo-list-actionable-item__leading-icon {
    margin-right: 10px;
  }

  .geo-list-actionable-item__container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .geo-list-actionable-item__title-container {
    display: flex;
    justify-content: space-between;
  }

  .geo-list-actionable-item__title {
    @include font('heading');
    color: $color-grey-darker;
  }

  .geo-list-actionable-item__trailing-accessory-items {
    align-items: center;
    cursor: pointer;
    display: flex;
    margin-left: 10px;
  }

  .geo-list-actionable-item__body {
    @include font('body');
    color: $color-grey-darker;
    margin: 10px 0;
  }

  .geo-list-actionable-item__actions {
    display: flex;
    margin-top: 10px;
  }
}

.geo-list-actionable-item--active {
  background-color: rgba($color-blue-light, .1)
}
