@mixin geo-list-group-make($modifier-name) {

  $modifier-name-with-prefix: '';

  @if $modifier-name != '' {
    // sass-lint:disable space-around-operator
    $modifier-name-with-prefix: --#{$modifier-name};
  }

  .geo-list-group#{$modifier-name-with-prefix} {
    background: $color-white;

    &:not(:last-child) {
      border-bottom: 1px solid $color-grey;
      padding-bottom: $space-x-small;
    }
  }

  .geo-list-group__header#{$modifier-name-with-prefix} {
    align-items: center;
    background: $color-white;
    border-radius: $border-radius-default;
    color: $color-grey-dark;
    cursor: default;
    display: flex;
    flex-direction: row;
    font-family: $font-family-heading;
    font-size: $font-size-regular;
    font-weight: $font-weight-semi-bold;
    height: $space-large;
    justify-content: space-between;
    line-height: $line-height-base;
    margin: $space-x-small;
    padding: 0 $space-x-small;
    white-space: nowrap;
  }

  .geo-list-group__header__icon-and-label#{$modifier-name-with-prefix} {
    align-items: center;
    display: flex;
    flex-direction: row;
  }

  .geo-list-group__header__icon-and-label__icon-container#{$modifier-name-with-prefix} {
    margin-right: $space-small;
  }

  .geo-list-group__header__trailing-accessory-items#{$modifier-name-with-prefix} {
    color: $color-grey-light;
    margin-left: $space-small;
  }

  .geo-list-group__content#{$modifier-name-with-prefix} {
    margin-left: $space-small;
  }

}

@include geo-list-group-make('');
