@mixin geo-list-item-make($modifier-name) {

  $modifier-name-with-prefix: '';

  @if $modifier-name != '' {
    // sass-lint:disable space-around-operator
    $modifier-name-with-prefix: --#{$modifier-name};
  }

  .geo-list-item#{$modifier-name-with-prefix} {
    align-items: center;
    background: $color-white;
    border-radius: $border-radius-default;
    color: $color-grey-dark;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    font-family: $font-family-text;
    font-size: $font-size-regular;
    min-height: 30px;
    justify-content: space-between;
    line-height: $line-height-base;
    margin: 5px;
    padding: 0 7px 0 5px;
    white-space: nowrap;

    &:hover {
      background: $color-white-dark;
    }
  }

  .geo-list-item__icon-and-label#{$modifier-name-with-prefix} {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
  }

  .geo-list-item__icon-and-label__icon-container#{$modifier-name-with-prefix} {
    margin-right: 10px;
  }

  .geo-list-item__trailing-accessory-items#{$modifier-name-with-prefix} {
    color: $color-grey-light;
    margin-left: 10px;
  }

}

@include geo-list-item-make('');
