.geo-list-clear-item {
  align-items: center;
  border-radius: $border-radius-default;
  color: $color-grey-light;
  cursor: default;
  display: flex;
  font-family: $font-family-text;
  font-weight: $font-weight-regular;
  justify-content: center;
  margin: 20px 10px;
  min-height: 20px;
}
