@mixin geo-list-footer-button-make($modifier-name) {

  $modifier-name-with-prefix: '';

  @if $modifier-name != '' {
    // sass-lint:disable space-around-operator
    $modifier-name-with-prefix: --#{$modifier-name};
  }

  .geo-list-footer-button#{$modifier-name-with-prefix} {
    align-items: center;
    background: $color-white;
    border-top: 1px solid $color-grey;
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    height: 40px;
    justify-content: center;
    padding: 0 10px;
  }
}

@include geo-list-footer-button-make('');