.geo-list-group {
  background: $color-white;

  & + & {
    border-top: 1px solid $color-grey;
    margin-top: $space-x-small;
  }
}

.geo-list-group__header {
  align-items: center;
  background: $color-white;
  border-radius: $border-radius-default;
  color: $color-grey-dark;
  cursor: default;
  display: flex;
  flex-direction: row;
  font-family: $font-family-heading;
  font-size: $font-size-regular;
  font-weight: $font-weight-semi-bold;
  height: $space-large;
  justify-content: space-between;
  line-height: $line-height-base;
  margin: $space-x-small;
  padding: 0 $space-x-small;
  white-space: nowrap;
}

.geo-list-group__header--icon-and-label {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.geo-list-group__header--icon-and-label__icon-container {
  margin-right: $space-small;
}

.geo-list-group__header--trailing-accessory-items {
  color: $color-grey-light;
  margin-left: $space-small;
}

.geo-list-group__content {
  margin-left: $space-small;
}
