.geo-list-item {
  background: $color-white;
  border-radius: $border-radius-default;
  color: $color-grey-dark;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-family: $font-family-text;
  font-size: $font-size-regular;
  justify-content: center;
  line-height: $line-height-base;
  margin: 5px;
  min-height: 30px;
  overflow: hidden;
  padding: 0 7px 0 5px;

  &:hover {
    background: $color-white-dark;
  }
}

.geo-list-item--disabled {
  color: $color-grey-light;
  cursor: not-allowed;

  &:hover {
    background: $color-white;
  }
}

.geo-list-item__label-and-accessory-container {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  white-space: nowrap;
  width: 100%;
}

.geo-list-item__description {
  @include font($body-small);

  color: $color-grey-light;
  margin-top: $space-x-small;
}

.geo-list-item__icon-and-label {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.geo-list-item__icon-and-label__icon-container {
  margin-right: 10px;
}

.geo-list-item__trailing-accessory-items {
  align-items: center;
  color: $color-grey-light;
  display: flex;
  margin-left: 10px;
}

.geo-list-item__label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.geo-list-item__icon-and-label__icon-container {
  width: $space-base;
}

.geo-list-item__description--spaced {
  margin-left: $space-large;
}