.colors {
  display: grid;
  display: -ms-grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -ms-grid-column-gap: 20px;
  -ms-grid-row-gap: 20px;
  -ms-grid-template-columns: repeat(4, 1fr);
}

.color-token {
  border-radius: 3px;
  box-shadow: 0 0 0 1px rgba(63, 63, 68, 0.05), 0 1px 3px 0 rgba(63, 63, 68, 0.15);
}

.color-token__background {
  height: 75px;
}

.color-token__description {
  padding: $space-base $space-small;
}

.color-token__name {
  @include reset;
  @include font($heading);
  text-transform: capitalize;
  padding-bottom: $space-small;
}

.color-token__code,
.color-token__variable {
  @include reset;
  @include font($label-optional);
}

.color-token__code {
  padding-bottom: $space-small;
}
