.c-component-documentation {
  .c-component-documentation__even-row {
    background: $color-white;
  }

  .c-component-documentation__odd-row {
    background: $odd-row-background;
  }

  table {
    display: table;
    width: 100%;
  }
}
