.c-design-tokens-list-colors__color-tokens-list {
  display: grid;
  display: -ms-grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: $space-base;
  grid-row-gap: $space-base;
  -ms-grid-column-gap: $space-base;
  -ms-grid-row-gap: $space-base;
  -ms-grid-template-columns: repeat(3, 1fr);
}

.c-design-tokens-list-color-token {
  border-radius: $border-radius-default;
  box-shadow: 0 0 0 1px rgba(63, 63, 68, 0.05), 0 1px 3px 0 rgba(63, 63, 68, 0.15);
  cursor: pointer;
  overflow: hidden;
}

.c-design-tokens-list-color-token__background {
  border-bottom: 1px solid $color-white-dark;
  height: 75px;
}

.c-design-tokens-list-color-token__description {
  padding: $space-base $space-small;
}

.c-design-tokens-list-color-token__name {
  @include reset;
  @include font($heading);

  text-transform: capitalize;
  padding-bottom: $space-small;
}

.c-design-tokens-list-color-token__code,
.c-design-tokens-list-color-token__variable {
  @include reset;
  @include font($label-optional);
}

.c-design-tokens-list-color-token__code {
  padding-bottom: $space-small;
}
