.c-element-demo__header {
  @include font($display-medium);
}

.c-element-demo-horizontal-layout {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.c-element-demo-box {
  border: 1px solid $color-white-dark;
  border-radius: 3px;
  box-shadow: inset 0 0 8px rgba(0, 17, 35, 0.05);
  display: block;
  height: 100px;
  overflow: hidden;
  padding: $space-base;
  width: 100px;

  &:not(:last-child) {
    margin-right: $space-base;
  }
}

.c-element-demo-actions {
  background: $color-yellow-readable-background;
  border-bottom: 1px solid $color-yellow-light;
  border-top: 1px solid $color-yellow-light;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: $space-large #{-1 * $space-base} $space-base;
  padding: $space-base;
  position: relative;

  &::before {
    @include font($heading-small);

    align-items: center;
    bottom: 100%;
    background: $color-yellow-light;
    border-top-left-radius: $border-radius-default;
    border-top-right-radius: $border-radius-default;
    content: 'Settings';
    cursor: pointer;
    display: flex;
    flex-direction: row;
    height: $space-base;
    padding: 0 $space-x-small;
    position: absolute;
    text-transform: uppercase;
    left: $space-base;
  }

  label {
    cursor: pointer;
    margin: $space-small 0;

    &:not(:last-child) {
      margin-right: $space-small;
    }

    input {
      border: 1px solid $color-yellow-light;
      border-radius: $border-radius-default;
      padding: $space-x-small;

      &:focus {
        border-color: $color-yellow;
        outline: none;
      }
    }
  }
}
