.geo-pill {
  @include font($body);
  align-items: center;
  border-radius: 50vh;
  border: 1px solid $color-grey;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  font-family: $font-family-text;
  padding: 0 $space-small;
  user-select: none;
}

.geo-pill--default,
.geo-pill--light {
  background: $color-white;
  font-size: $font-size-xxsmall;
  font-weight: $font-weight-bold;
  height: $space-base;
  text-transform: uppercase;
}

.geo-pill--dark {
  background: $color-white-dark;
  color: $color-grey-darker;
  min-height: $space-large;
}

.geo-pill--opaque {
  background: $color-yellow-light;
  border: none;
  color: $color-grey-darker;
  font-size: $font-size-small;
  height: $space-large;
}

.geo-pill--outline {
  background: $color-white;
  border: 1px solid $color-yellow-light;
  color: $color-grey-darker;
  font-size: $font-size-small;
  height: $space-large;
}
