@mixin geo-bordered-box-column-make ($modifier-name) {
  $modifier-name-with-prefix: '';

  @if $modifier-name != '' {
    // sass-lint:disable space-around-operator
    $modifier-name-with-prefix: --#{$modifier-name};
  }

  .geo-bordered-box-column#{$modifier-name-with-prefix} {
    background: $color-white;
    border: 1px solid $color-grey;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    line-height: 1.5;
    min-height: $space-large;
    overflow: hidden;
    padding: 0 7px 0 5px;
  }
}

@include geo-bordered-box-column-make('');
