.geo-bordered-box-column {
  background: $color-white;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: start;
  overflow: hidden;
  padding: $space-small;

  &:not(:first-child) {
    border-left: 1px solid $color-grey;
  }
}
