.geo-bordered-box {
  background: $color-white;
  border: 1px solid $color-grey;
  border-radius: $border-radius-default;
  box-shadow: $box-shadow-regular;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
